[2018-08-19 15:52] kjaiswal opened #1153 "Voyager showing incorrect stake balances"
UI Version: 0.9.4

Description:

Steps to reproduce -

1. Downloaded new version Voyager and received 20 STEAK at cosmosaccaddr1990ceh7wh50j2z6wq08ekzez7yr6hpwtpap9ku

2. First issue, I see "Connecting to network..." intermittently. After delegating 18 STEAK, I see abnormally high number of my delgated STEAK number in "Staking" tab (see screenshot attached)

3. Couldn't query block error also seen

[2018-08-19 15:58] kjaiswal commented on #1153
The balance made its way to network, see network explorer screenshot.
![cosmos_voyager_bug_2](https://user-images.githubusercontent.com/2622360/44310594-fd49f980-a38d-11e8-9d0e-2b46dbb76c84.png)

[2018-08-19 18:55] NodeGuy opened #1154 "Make Voyager use Explorer's page for displaying validator information."
This is an intermediate step towards https://github.com/cosmos/voyager/issues/1100.

[2018-08-19 18:55] NodeGuy commented on #1100
Blocked by https://github.com/cosmos/voyager/issues/1154.

[2018-08-20 00:02] NodeGuy opened #1158 "Existing configuration may be overwritten/deleted."
UI Version: 0.9.4

Description:

main/index.js contains this admonition:

https://github.com/cosmos/voyager/blob/af2dbe277b34135f81d0e9e143a6a1bbb8620bfe/app/src/main/index.js#L640-L644

However, if any of the following conditionals is `false`
https://github.com/cosmos/voyager/blob/af2dbe277b34135f81d0e9e143a6a1bbb8620bfe/app/src/main/index.js#L461-L464

then a new configuration is written without

[2018-08-20 08:12] faboweb commented on #1153
should be fixed with #1148 @fedekunze could you clarify?

[2018-08-20 08:15] faboweb commented on #1154
Probably moving the description properties to the top level of the object. I guess our internal delegate object didn't match the external object anymore. Feel free to change that, if it's not too much effort.

[2018-08-20 08:16] #1114 closed

[2018-08-20 09:30] faboweb commented on #1141
On what is this blocked? If this is blocked, let's skip the pact tests and use the existing test structure for #1133

[2018-08-20 09:30] faboweb commented on #1108
Summing up: The agreement is to remove the animation.

[2018-08-20 09:31] faboweb commented on #1154
What is this blocked on?

[2018-08-20 09:36] fedekunze commented on #1153
@faboweb @kjaiswal solved in #1148

[2018-08-20 09:36] #1153 closed

[2018-08-20 09:42] fedekunze commented on #1154
Let's wait for @jbibla new designs and use them instead

[2018-08-20 09:43] faboweb commented on #1065
Available balance doesn't update automatically
Staked balance doesn't update at all (after pressing refresh)
Tested on local node.

[2018-08-20 09:44] fedekunze commented on #1132
@nylira @jbibla I now you have showed them already, but can you post the links to the design files here as well ? Thanks !

[2018-08-20 09:56] faboweb commented on #1154
We can still migrate to the new designs later. The new design is not part of this ticket. Please implement the explorer page as is if you need that to finish #1100

[2018-08-20 09:59] faboweb commented on #1133
Why was this removed from the sprint without clarification?

[2018-08-20 10:28] #1042 closed

[2018-08-20 10:45] fedekunze opened #1160 "Fix validator tokens decimals"
UI Version: 0.X.X

Description:

Ref: cosmos/cosmos-sdk#2096
See [Discussion](https://github.com/cosmos/voyager/pull/1148#discussion_r210646655)

[2018-08-20 10:55] fedekunze commented on #1133
@faboweb I'm still working on that. @NodeGuy is blocked on the Pact tests only. Will finish this before the end of the sprint

[2018-08-20 11:40] faboweb commented on #1100
Proposal:
![image](https://user-images.githubusercontent.com/5869273/44338462-3b264b00-a47e-11e8-87e7-ff7de1751a23.png)
![image](https://user-images.githubusercontent.com/5869273/44338478-45484980-a47e-11e8-9d26-0d31adff3b19.png)

I converted `DelegatorShares` into `Self Bond` as I think this is the actual interesting value.
Do we need `BondIntraTxCounter` (what is that?) and `ProposerRewardPool`?

[2018-08-20 11:40] faboweb commented on #1100
@nylira what about a default avatar?

[2018-08-20 11:49] fedekunze commented on #1100
@faboweb Imo `LastBondedTokens` are useful. They are printed on the SDK as _Previous Bonded Tokens:_ `LastBondedTokens`. Same with `ProposerRewardPool` and `CommissionChangeToday`. We can leave `BondIntraTxCounter` out

- `ProposerRewardPool` : the reward pool collected from being the proposer
- `BondIntraTxCounter`: block-local tx index of validator change

[2018-08-20 12:05] faboweb commented on #1100
How would you base decisions on any of those 3 values?

[2018-08-20 12:50] jbibla commented on #1100
please use this icon: https://drive.google.com/open?id=11_B4Q5SsErJ4G5v2VermpCbumYX2wU-U

[2018-08-20 14:27] faboweb commented on #1100
Updated the screenshots.

[2018-08-20 14:31] jbibla commented on #1081
this issue cannot be reproduced _and_ we will implement the new designs next sprint.

[2018-08-20 14:31] #1081 closed

[2018-08-20 14:52] okwme commented on #1041
closed due to resolution noted by @faboweb

[2018-08-20 14:52] #1041 closed

[2018-08-20 14:56] #1065 closed

[2018-08-20 15:04] faboweb commented on #1126
Billy is experiencing the same problem.

[2018-08-20 16:42] NodeGuy commented on #1133
I thought that's what you said you wanted during our call last week—I split the issue into a smaller scope and threw the remainder back into the backlog.

[2018-08-20 16:47] NodeGuy opened #1165 "Tags should be generated in tasks/publish.js instead of tasks/releasePullRequest.js"
UI Version: 0.9.4

Description:

Tags shouldn't be pushed to GitHub until the release is published.

[2018-08-20 17:26] NodeGuy commented on #1141
I can't write a good test without the help of the SDK team.  It has nothing to do with Pact.  I'm pair programming with Alessio to get help tomorrow.

[2018-08-20 17:55] NodeGuy commented on #1154
I marked it `blocked` as a note to myself to show that I was waiting for your answer.

[2018-08-20 18:33] NodeGuy commented on #1154
Thanks.  It's causing your PR to display the moniker incorrectly so I tried removing it but doing so broke the validator list and I'm having trouble figuring out why.

[2018-08-20 18:39] #1158 closed

[2018-08-21 01:08] NodeGuy opened #1166 "Stop compiling ES6 to ES5."
UI Version: 0.9.4

Description:

We're using Babel to compile ES6 to ES5 even though we're using Node.js which is already perfectly capable of running ES6 natively.  As a result we're getting weird stack traces that make debugging harder, like this one:

[code]

This degrades performance and exposes us to potential bugs because polyfills are generally never as good as true JavaScript interpreters.

[2018-08-21 08:08] fedekunze opened #1168 "Write a better description for Voyager in Cosmos Docs"
**Description:**

Currently [this](https://cosmos.network/docs/getting-started/voyager.html) is the only reference to Voyager in our Documentation page.

I'd propose to move Voyager to it's own section on the Docs (same as Lotion Js) and write a better overview and description about our product.

Also add images. We have some sick graphics that we are not using on the website to promote developer

[2018-08-21 09:42] okwme commented on #1126
i'm getting this error when i try this step of the build process manually:
[code]

[2018-08-21 09:57] fedekunze commented on #1131
SDK issue: cosmos/cosmos-sdk#2044

[2018-08-21 10:14] #1154 closed

[2018-08-21 10:38] fedekunze opened #1169 "Gaiacli version error makes Voyager crash"
UI Version: 0.X.X

Description:

I had the v0.24.0 installed of the SDK and I got an error when running `yarn start`. Also `yarn build:gaia` wasn't very helpful.

[code]

[2018-08-21 11:15] faboweb commented on #1169
Which network are you trying to connect to? Probably gaia-7005 which expects `0.23.1`. Maybe delete the config folder of that network under `~/.voyager-dev/`.

[2018-08-21 12:11] fedekunze commented on #1169
[code]
Still happening

[2018-08-21 12:26] fedekunze commented on #1169
It's probably because the 7005 is down

[2018-08-21 12:33] faboweb commented on #1169
The Voyager Gaia binaries are in `{voyager-dir}/builds/gaia/darwin.../` try getting the version from that binary.

[2018-08-21 14:15] faboweb commented on #1138
easy fix might be to set z-index on the menu higher then the session menu

[2018-08-21 14:43] faboweb opened #1170 "Gaia-8001"
Release for gaia-8000

[2018-08-21 14:49] faboweb commented on #913
This is done

[2018-08-21 14:49] #913 closed

[2018-08-21 14:52] faboweb commented on #848
This is implemented

[2018-08-21 14:52] #848 closed

[2018-08-21 14:55] jbibla opened #1171 "new UI For validator profile"
- [x] Design
- [ ] Implementation

https://zpl.io/VQEQ6zn - Validator Profile

[2018-08-21 15:35] fedekunze opened #1172 "staking Params and Pool"
Description:

Implement design to implement the view for querying `Params` and `Pool`
See PR: cosmos/cosmos-sdk#2099

- [x] Endpoints
- [x] [Design](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5bb26dc2cc296e3ffefa3046): Tab
- [ ] Implementation

[2018-08-21 15:39] jbibla commented on #638
- css issues
- also discuss new ux

[2018-08-21 15:45] #1103 closed

[2018-08-21 15:45] fedekunze commented on #1100
closed by #1164

[2018-08-21 15:45] #1100 closed

[2018-08-21 15:48] fedekunze commented on #892
Closing. Will open independent issues for slashing, uptime and projected income

[2018-08-21 15:48] #892 closed

[2018-08-21 15:55] #1006 closed

[2018-08-21 15:59] jbibla commented on #988
also show correct message

[2018-08-21 18:11] jbibla commented on #1138
yeah, but i think ideally it would be done the electron native way

[2018-08-21 19:06] jbibla opened #1173 "Cosmos address component"
the UI can abbreviate addresses and pubkeys for a friendlier and less cluttered UI.

though, bech32 prefixes have made our address _a bit_ more readable - they are still for computers (let's be honest).

i'd like to propose that we abbreviate addresses and pubkeys - the tooltip could display the full address. see below.

this will result in a more readable, less overwhelming, cleaner UI. 🥇
[code]

[2018-08-21 19:10] jbibla opened #1174 "improve copy to clipboard ux"
1. low opacity until hover
2. hover turns to link color
3. copy _does not_ confirm with notify but rather a small checkmark and the word "copied"

![screen shot 2018-08-21 at 3 04 46 pm](https://user-images.githubusercontent.com/6021933/44423243-a2fa9580-a553-11e8-9cfb-16cde328a490.png)
![screen shot 2018-08-21 at 3 04 56 pm](https://user-images.githubusercontent.com/6021933/44423244-a2fa9580-a553

[2018-08-21 19:54] jbibla commented on #1172
hey @fedekunze can you help explain what is required here? what is the feature? how should it work?

[2018-08-21 19:59] fedekunze commented on #1172
@jb There are 2 new staking endpoints to query info about global parameters and the staking pool. You can see the list of attributes returned [here](https://github.com/cosmos/cosmos-sdk/blob/develop/docs/sdk/clients.md#query-parameters).

The new staking endpoints are `GET stake/pool` and `GET stake/parameters`.

In short, this would require a modal or new tab in staking that shows this informatio

[2018-08-22 12:04] faboweb opened #1175 "Check and build gaia when starting a network"
UI Version: 0.9.4

Description:

Current process for moving to new testnet:

- Download networks
- Update `COMMIT.sh`
- Start Voyager development instance

Ideal:

- Start Voyager `yarn start gaia-10000`
- Script checks if `gaia-10000` is available, if not downloads networks and checks again
- Script compares local `gaiacli` verison against required version from `gaiaversion.txt` and rebuilds with

[2018-08-22 12:41] jbibla commented on #1053
updated version @okwme

<img width="1133" alt="screen shot 2018-08-22 at 8 40 37 am" src="https://user-images.githubusercontent.com/6021933/44463868-14375880-a5e7-11e8-8af9-c75e68140191.png">

[2018-08-22 16:10] #1126 closed

[2018-08-22 16:57] okwme commented on #972
blocked by https://github.com/tendermint/ui/pull/61
cookie consent comes from tendermint/ui so i didn't remove it but i references the local file instead of trying to use the CDN, hopefully that resolves our issue here

[2018-08-22 17:10] faboweb commented on #1019
Plan:
- Start a 2nd node
- Declare it to be a validator
- Stake to 2nd node

[2018-08-22 17:13] faboweb commented on #971
Plan:
check why handleCrash in launch.js is not producing the screenshot

[2018-08-22 17:45] faboweb opened #1177 "Do not run publish step every time"
Description:

CI runs publish step everytime and it fails everytime.

[2018-08-22 20:31] NodeGuy commented on #988
Another idea:  How about Voyager doesn't connect to non-indexing nodes, period.  We can handle more cases after launch.

[2018-08-23 10:14] faboweb commented on #988
I guess most staking information. Am I wrong @fedekunze ?
I like the idea to skip non-indexing nodes. We just need to make sure, we have at least one per testnet. This should be possible, as we can make the testnet team do it. :)

[2018-08-23 10:40] okwme commented on #972
fixed by https://github.com/cosmos/voyager/pull/1162

[2018-08-23 11:10] fedekunze commented on #988
+ @faboweb @NodeGuy I like the idea of skipping non-indexing nodes, since we won't be able to query txs by tag. That affects mostly all actions (_i.e_ governance, staking, transfers, etc) and important queries we need in order for Voyager to work smoothly

[2018-08-23 11:14] fedekunze commented on #1019
how hard is to add a third one ? @faboweb

[2018-08-23 11:54] faboweb commented on #1019
If we have the 2nd one setup, I think it is easy.

[2018-08-23 11:57] fedekunze commented on #988
@faboweb @NodeGuy should we also open an issue for more docs of what `Node indexing` is and what are the pros/cons of it ?

[2018-08-23 11:59] fedekunze commented on #1019
I'd go for 3 then if it's just a copy/paste

[2018-08-23 12:29] fedekunze commented on #1131
Closed by cosmos/cosmos-sdk#2119

[2018-08-23 12:30] fedekunze commented on #1133
Heads up, I'm implementing Sunny's `Queriers` for this cosmos/cosmos-sdk#1918

[2018-08-23 13:08] faboweb commented on #988
yes @fedekunze please open one

[2018-08-23 13:08] faboweb commented on #1019
why? ^^

[2018-08-23 14:01] faboweb commented on #971
Capturing screenshots is broken on the current Spectron release: https://github.com/electron/spectron/pull/297

[2018-08-23 14:41] fedekunze commented on #988
See cosmos/cosmos-sdk#2132

[2018-08-23 16:44] fedekunze commented on #1051
@NodeGuy does this just require to add `"use strict";`  to the beginning of each file ?

[2018-08-24 11:08] faboweb commented on #1019
Not as straight forward as I though:
- The 2nd validator needs to use different ports
- We need to add the 2nd validator pubkey to the genesis
- We need to declare our 1st node as a persistent_peer in the config.toml (unclear what ID is right now)

[2018-08-24 14:38] fedekunze commented on #1169
The main issue that I had with this bug is that it didn't allow me to change to the local testnet setting. I had to quit Voyager and run the CLI with `yarn build:local`

[2018-08-24 14:39] fedekunze commented on #1169
@faboweb : So `gaiacli version: "0.24.0", expected: "0.23.1"` has nothing to do with remote nodes. This just means `gaiacli version` is different then the content of the `gaiaversion.txt` that lives in `~/.voyager-dev/{NETWORK}`

[2018-08-27 08:26] faboweb opened #1179 "Fix Electron vulnarability"
UI Version: 0.9.4

Description:
https://electronjs.org/blog/web-preferences-fix

[2018-08-27 09:33] #971 closed

[2018-08-27 09:51] faboweb commented on #1179
We already upgraded to 2.0.8

[2018-08-27 09:51] #1179 closed

[2018-08-27 12:05] siman opened #1181 "No transactions when sending tokens to a friendly bot in a demo mode"
UI Version: 0.9.4

Description: No transactions when sending tokens to a friendly bot in a demo mode

1. Start Voyager
2. Click "Try Demo"
3. Sign in, Next
4. In Wallet, click "Send" button on any token from your balance
5. Specify the number of tokens and an address of a friendly bot (from the tip at the bottom of the form) as `cosmosaccaddr1p6zajjw6xged056andyhn62lm7axwzyspkzjq0`
6. Click "Send

[2018-08-27 12:11] faboweb commented on #1181
This is fixed in the next release. Stay tuned.

[2018-08-27 15:37] fedekunze commented on #1051
@jbibla do you remember why do we need to split this issue ?

[2018-08-27 15:43] NodeGuy commented on #988
OK, I'll make Voyager skip non-indexing nodes.

[2018-08-27 15:58] NodeGuy commented on #1051
We need to split this issue because if we make strict mode mandatory for all files then we're going to get a ton of non-compliance issues that need to be fixed all at once.  Today I'm going to compile a list of all of the JavaScript files and create new issues to tackle groups of them at a time.  Once all of the files are in compliance then we can make the ESLint change.

[2018-08-27 21:00] NodeGuy opened #1182 "Convert to strict mode (through app/src)."
Convert all files below (and any new ones in the relevant directories) to strict mode by adding `"use strict"` as the first line and correct any strict mode violations that occur as a result.

# David

- [x] .eslintrc.js
- [x] app/src/main/addressbook.js
- [x] app/src/main/index.dev.js
- [x] app/src/main/menu.js
- [x] app/src/network.js
- [x] app/src/renderer/connectors/rpcWrapper.js
- [x] app/src

[2018-08-27 21:01] NodeGuy opened #1183 "Convert to strict mode (through test/unit/specs)."
Convert all files below (and any new ones in the relevant directories) to strict mode by adding `"use strict"` as the first line and correct any strict mode violations that occur as a result.

[code]

[2018-08-27 21:03] NodeGuy opened #1184 "Convert to strict mode (through test/unit/specs/components/common)."
Convert all files below (and any new ones in the relevant directories) to strict mode by adding `"use strict"` as the first line and correct any strict mode violations that occur as a result.

[code]

[2018-08-27 21:03] NodeGuy opened #1185 "Convert to strict mode (through test/unit/specs/store)."
Convert all files below (and any new ones in the relevant directories) to strict mode by adding `"use strict"` as the first line and correct any strict mode violations that occur as a result.

[code]

[2018-08-27 21:04] NodeGuy commented on #1051
Blocked by https://github.com/cosmos/voyager/issues/1182, https://github.com/cosmos/voyager/issues/1183, https://github.com/cosmos/voyager/issues/1184, and https://github.com/cosmos/voyager/issues/1185.

[2018-08-28 08:52] #972 closed

[2018-08-28 09:09] faboweb commented on #1051
I consider this ticket done in this sprint. The scope was to split it.

[2018-08-28 09:16] #1108 closed

[2018-08-28 10:27] #1019 closed

[2018-08-28 11:05] faboweb commented on #1174
Just concerned about the initial low opacity. This has a bad contrast and might be overlooked.

[2018-08-28 11:05] faboweb commented on #1173
I vote yes. We probably need to show some letters in the beginning and some in the end.

[2018-08-28 12:50] jbibla commented on #1173
are you proposing the following? not sure if i agree. would like others to weigh in. we have these nifty bech32 prefixes which might be "enough".
[code]

[2018-08-28 12:59] faboweb opened #1189 "Surface errors from the main thread better"
UI Version: 0.9.4

Description:

`main-process: gaiacli: ERROR: unknown command "rest-server" for "gaiacli"` did not surface to the UI.

[2018-08-28 14:26] faboweb commented on #1173
Yes this is what I mean. Just for a sense of security.

[2018-08-28 15:29] okwme opened #1190 "Make feature branch for new ui"
This PR https://github.com/cosmos/voyager/pull/1188 implements the first part of the new ui but i'm afraid that we should wait til more of the ui is implemented before merging into `develop`. This would prevent possible style clashes (although clashes with the tendermint/ui dependecy might create conflicts).

[2018-08-28 15:54] #1140 closed

[2018-08-28 16:09] okwme commented on #827
closing for https://github.com/cosmos/voyager/issues/850

[2018-08-28 16:09] #827 closed

[2018-08-28 16:15] faboweb opened #1191 "Add new transaction designs"
We want the new design of the transactions to appear in the tx history list of Voyager. This probably means using the https://github.com/tendermint/ui/tree/develop/src/components/TmLiAnyTransaction component.

[2018-08-28 16:20] faboweb opened #1192 "test if errors work in voyager"
As of https://github.com/cosmos/cosmos-sdk/pull/2119 errors returned by the LCD are not longer plain text (with a lot of additional noise) but a JSON object. This should deprecate the need to parse out the error message from this plain text error.
The question is, is there an additional need to adjust Voyagers error parsing (to show the correct error to the user) or do we still need to parse the e

[2018-08-28 17:03] jbibla commented on #1118
instead of blocking the user from proceeding with more submissions / transactions ...

1. show successful submission
2. clear for new tx's
3. show loading icon in sidebar next to transactions link
4. include the pending / loading tx in tx history

[2018-08-28 17:04] NodeGuy commented on #1190
I believe we agreed not to do this, yes?

[2018-08-28 17:05] NodeGuy commented on #1192
What does this mean?

[2018-08-28 19:27] NodeGuy opened #1193 "SDK: Create simple test for /stake/delegators/{delegatorAddr}"
We're working on improving the performance of /stake/delegators/{delegatorAddr} in https://github.com/cosmos/voyager/issues/1133.

To support this work we need a simple unit test.  Currently there is a test called [TestBonding](https://github.com/cosmos/cosmos-sdk/blob/fb5fe9914d2489f15450a0b9ccde9b5c06a26e16/client/lcd/lcd_test.go#L427-L510) which is 84 lines of code and very complex.  We need a

[2018-08-28 19:28] NodeGuy commented on #1133
See https://github.com/cosmos/voyager/issues/1193 about creating a test for this endpoint.

[2018-08-28 19:46] NodeGuy opened #1194 "Start writing contract tests."
We depend on the Gaia Lite REST API in the SDK.  Sometimes it changes, which breaks our code.

Both the SDK and Voyager have tests for the behavior of the API.  We can unify some of the two separate tests suites into contract tests, making sure the tests are the same on both sides, therefore ensuring agreement about what the behavior should be.  The contract will be written by Voyager so that it's

[2018-08-28 19:46] NodeGuy commented on #1141
Closing in favor of https://github.com/cosmos/voyager/issues/1193 and https://github.com/cosmos/voyager/issues/1194.

[2018-08-28 19:46] #1141 closed

[2018-08-28 20:02] NodeGuy opened #1195 "refactor Addressbook proposal"
The main process [is horribly complex](https://github.com/cosmos/voyager/issues/856).

Addressbook is a class in the main process that discovers and keeps a stateful collection of node addresses.  A node is chosen randomly from the pool when starting Gaia Lite.

The usage of the address book is essentially as follows:

1.  Load seed nodes from the network's `config.toml` file.
2.  Load more nodes

[2018-08-28 20:03] NodeGuy commented on #856
Split out [refactor of Addressbook](https://github.com/cosmos/voyager/issues/1195).

[2018-08-28 20:12] faboweb commented on #1193
I would advice defering any tests like this, until the SDK team has delivered a framework for testing the enables us to easyly do all those things. We can get on their nerves about this, but I don't think we should be developing this.

[2018-08-28 20:13] faboweb commented on #1193
Very nicely written issue btw. :) 👍

[2018-08-29 01:29] jbibla commented on #1195
this is excellent. really appreciate the clarity and the walkthrough. i didn't know anything about the address book - and now i do!

👍 👍

[2018-08-29 09:07] faboweb commented on #1118
so this is more the optimistic UI approach. I trust u on that. closing this issue.

[2018-08-29 09:07] #1118 closed

[2018-08-29 09:07] #1190 closed

[2018-08-29 09:11] faboweb commented on #1192
Updated the description.

[2018-08-29 09:47] faboweb opened #1198 "Add E2E test for showing transaction history"
UI Version: 0.9.4

Description:

We do not test, if the SDK correctly serves the txs.

[2018-08-29 09:54] faboweb commented on #1080
Still an issue

[2018-08-29 09:55] fedekunze commented on #1169
Closed via #1187

[2018-08-29 09:55] #1169 closed

[2018-08-29 09:56] faboweb commented on #988
The mentioned status `node_info.other.tx_index` doesn't show actual indexing.

Example:
103.72.145.36:26657 shows  `tx-index=on` but doesn't show txs.
195.201.141.141:26657 shows  `tx-index=on` and shows txs.

Pulling in SDK team @cwgoes

[2018-08-29 10:10] faboweb opened #1199 "Jank while loading validator profiles"
UI Version: 0.9.4

Description:

When starting the applications the app freezes for some seconds. I assume this is while downloading the validator profiles.

Chrome performance profile:
[Profile-20180829T120817.json.zip](https://github.com/cosmos/voyager/files/2331719/Profile-20180829T120817.json.zip)

[2018-08-29 10:35] faboweb opened #1201 "Use the electron native about menu for version"
UI Version: 0.9.4

Description:

We are currently using a custom Vue component to show about information. We decided that the native Electron about menu would be a better UX.

Plan:
- Remove the Vue component about menu
- Activate the native about menu in the main thread (`index.js`)
- Show all information from the Vue component in the native about menu

Split from #1138

[2018-08-29 10:35] faboweb commented on #1138
Plan:
Easy fix: Increase the z-index of the about menu to show even when the sign in overlay is showing.
Sophisticated fix: Use the electron native menu for this (https://github.com/cosmos/voyager/issues/1201)

[2018-08-29 11:06] #1165 closed

[2018-08-29 11:29] faboweb opened #1204 "Publish script is not bumping the version prior to creating the tag"
UI Version: 0.10.0 <- This version shouldn't be possible

[2018-08-29 11:52] faboweb commented on #1170
Done

[2018-08-29 11:52] #1170 closed

[2018-08-29 12:01] okwme commented on #1054
https://sketch.cloud/s/xKnxA/all/voyager-ui/

[2018-08-29 12:01] okwme commented on #1191
https://sketch.cloud/s/xKnxA/all/voyager-ui/

[2018-08-29 12:44] faboweb commented on #1191
Updated the description for a better scope def.

[2018-08-29 13:35] faboweb opened #1207 "Validator page is displaying stake incorrect"
UI Version: 0.10.1

Description:
![image](https://user-images.githubusercontent.com/5869273/44791082-22661580-aba1-11e8-9ef4-7b9d7338b78d.png)
![image](https://user-images.githubusercontent.com/5869273/44791068-1a0dda80-aba1-11e8-828b-f30e2bcedd7e.png)

[2018-08-29 13:38] faboweb commented on #1059
I need to split the building of Voyager from `task/publish.js` to test the build version before publishing it.

[2018-08-29 13:44] okwme commented on #1191
![image](https://user-images.githubusercontent.com/964052/44786728-50ddf380-ab95-11e8-8cda-a211248c6561.png)

This the most recent image i can find. Unsure whether it is final because of the discussion about circle versus text being colored.

Types of txs I see here w their associated metadata:

1. Send
   * amt
   * to
   * time
   * block
   * totalAtoms - at time of sending?
2. Receive
   * amt

[2018-08-29 13:51] faboweb commented on #1191
yes

let's focus on the transactions we currently use and add others later

[2018-08-29 14:32] okwme commented on #1191
Keeping my previous comment for reference but reducing scope of issue to the following:
- [ ] import tx components from `tendermint/ui`
- [ ] "hydrate" them
- [ ] bonus: tab filtering
- [ ] make designs 5-9 in the `tendermint/ui`

[2018-08-29 14:36] faboweb opened #1211 "TypeError: Cannot read property 'keybase' of undefined"
https://sentry.io/tendermint/cosmos-voyager/issues/667195282/

[code]

[2018-08-29 15:34] NodeGuy commented on #1192
So is this a spike proposal?

[2018-08-29 15:36] NodeGuy commented on #1192
How did it end up in Scrumptious with no one assigned?

[2018-08-29 15:45] NodeGuy commented on #1198
E2E tests [are really expensive](https://testing.googleblog.com/2015/04/just-say-no-to-more-end-to-end-tests.html).

This can be tested with a less expensive test.

The ideal would be [a contract test](https://github.com/cosmos/voyager/issues/1194).

[2018-08-29 15:45] NodeGuy commented on #1080
What's blocking it?

[2018-08-29 15:48] NodeGuy commented on #988
Please submit a bug report in the SDK repo.

[2018-08-29 16:00] fedekunze commented on #988
See cosmos/cosmos-sdk#2183

[2018-08-29 16:01] NodeGuy commented on #1204
That tag wasn't pushed by the script, it was from @okwme : https://github.com/cosmos/voyager/releases/tag/v0.10.0

[2018-08-29 16:11] NodeGuy commented on #1211
What are the steps to reproduce this?

[2018-08-29 16:27] faboweb commented on #1192
This was a follow up for @fedekunze ticket on the SDK. I forgot the assign someone as it wasn't created in process. I will get to it if I find time.

[2018-08-29 16:30] faboweb commented on #1080
the blocking label was still on there

[2018-08-29 16:34] faboweb commented on #1204
I think Billy was just the one who merged the last commit.

[2018-08-29 16:35] faboweb commented on #1211
Check Sentry. I have no idea. But it was reported by our error logger.

[2018-08-29 16:56] okwme commented on #1054
- [ ] make new component in `components/staking` to be shown within `PageStaking.vue`
- [ ] filter validators by those you are actively staked to, and those you are unbonding from
- [ ] make a component for Active Validators with bonded amount and rewards amount
- [ ] make a component for Unbonding Validators with unbonding amount and time left
- [ ] bonus: make tab filters

[2018-08-29 17:44] faboweb commented on #988
Isn't indexing handled by Tendermint?

[2018-08-29 17:55] nylira opened #1212 "Releases of Voyager should identify which testnet(s) they work on"
UI Version: `develop`

Description: I think that version 0.9.x of Voyager functioning with `gaia-8000` doesn't make much sense. Wouldn't it be better if we just publicly labeled this release as Voyager 8000?

[2018-08-29 20:42] pypypy777 opened #1213 "Voyager ran into issue directly after starting"
Version: v2.0.8

Description:
Got this Error after starting the App:

_"Voyager ran into an error
Voyager has encountered a critical error that blocks the app from running. Please create an issue and include a copy of the app logs."_

When siging up there was a bad connection window popping up on the top right so I restarted Voyager and after that siging up worked for me.
I am on a a Ubuntu 16.04.

[2018-08-30 07:47] faboweb commented on #1192
Plan:
- produce an error in the LCD (like not enough atoms to stake)
- check if Voyager displays the error user friendly

[2018-08-30 07:57] faboweb commented on #1211
Just happened to me. Apparently happens when you sign out while the keybase data is still loading. When signing out the delegate list is cleared. So it can't find the delegate anymore, it wanted to load the keybase data for.

[2018-08-30 08:02] faboweb commented on #1138
Update:
While the login screen is displaying, no other component is rendered. So the about menu is not rendered as well. So I think we need to do #1201

[2018-08-30 08:35] faboweb commented on #1201
- [ ] show native dialog
- [ ] display voyager, sdk, electron version
- [ ] test on Mac
- [ ] test on Windows
- [ ] test on Linux

[2018-08-30 08:36] faboweb commented on #1201
It looks like this on Mac:
![image](https://user-images.githubusercontent.com/5869273/44840031-87247d00-ac40-11e8-83ee-e2a69dfac2c0.png)

[2018-08-30 08:54] faboweb commented on #1138
Closed in favor of #1201

[2018-08-30 08:54] #1138 closed

[2018-08-30 09:25] fedekunze commented on #1207
ohh I thought this was already solved. Let's also compare the returned validator_power string value from the Explorer, maybe it's having the same issue we had with `sdk.Dec`.

[2018-08-30 09:27] faboweb commented on #1213
@pypypy777 did you have another instance of the cli/SDK open that used `/home/markus/.cosmos-voyager/gaia-8001/lcd` as a config dir? This error could appear when the keystore database is locked by another process.

[2018-08-30 09:32] faboweb commented on #1207
The explorer receives `tokens: "6521/2"` for this validator.

[2018-08-30 09:36] faboweb commented on #1207
We are still displaying tokens vs. displaying voting_power. Will push a fix.

[2018-08-30 09:51] faboweb commented on #1199
The reason is that for every update state is persistet which is costly since we are encrypting it.

[2018-08-30 09:59] #1207 closed

[2018-08-30 09:59] pypypy777 commented on #1213
Thanks for the response guys
@faboweb
I restarted my machine and the same error still occurs however I can still use the Voyager app and send transactions and everything.

However, when I run a full node I cannot connect to any peers currently (already tryed different ones) may this be related to this issue?

[2018-08-30 11:05] faboweb commented on #1213
Which error still occurs? `"Voyager ran into an error
Voyager has encountered a critical error that blocks the app from running. Please create an issue and include a copy of the app logs."` should prevent you from using Voyager.

Which network are you trying to connect to with your full node?

[2018-08-30 11:56] fedekunze commented on #969
@NodeGuy do you think we should also proceed with #908 either with [electron-installer-zip](https://github.com/electron-userland/electron-installer-zip) or [electron-installer-dmg](https://github.com/electron-userland/electron-installer-dmg) ?

[2018-08-30 12:05] fedekunze commented on #969
**Note**: Bitcoin Core uses the [Gitian builder](https://github.com/devrandom/gitian-builder) for deterministic builds. Here is the link to the [setup instructions](https://github.com/bitcoin-core/docs/blob/master/gitian-building.md)

[2018-08-30 12:32] faboweb commented on #969
But this is just the environment right? The build process also needs to be deterministic.

[2018-08-30 12:39] faboweb commented on #1211
Will be fixed with #1216

[2018-08-30 12:42] fedekunze commented on #969
In the case of Linux, I'd definitely go for Flatpak. It has long list of advantages (see https://github.com/signalapp/Signal-Desktop/issues/1639#issuecomment-342422537) as well as an App store [Flathub](https://flathub.org/home).  There are other concerns related to Flathub's security stated in https://github.com/signalapp/Signal-Desktop/issues/1639#issuecomment-347410590 that we'd have to investi

[2018-08-30 18:02] NodeGuy opened #1217 "Test linting on CircleCI"
The `yarn test` command tests linting but we test the various components separately on CircleCI so linting doesn't get tested.

[2018-08-30 19:16] NodeGuy commented on #988
Sounds like the bug should be filed in the Tendermint repo.

[2018-08-30 19:17] NodeGuy commented on #1212
Yes, strong agreement.

[2018-08-30 19:30] NodeGuy commented on #969
electron-installer-zip doesn't create an installer so it doesn't seem very interesting.

electron-installer-dmg isn't deterministic (see [my issue](https://github.com/electron-userland/electron-installer-dmg/issues/33)).

[2018-08-30 19:32] NodeGuy commented on #969
The owner of node-appdmg [responded enthusiastically](https://github.com/LinusU/node-appdmg/issues/166#issuecomment-417310148) about working together to make it deterministic but we're now outside the time box of 1 day.  @faboweb How should we reply?

[2018-08-30 20:14] pypypy777 commented on #1213
This time I had to restart Cosmos Voyager until it worked and I could login. Before I was getting this error [log:](https://pastebin.com/jV2J08q8)
The app is successfully getting the lattest blocks. I connected to gaia-8001 with the cosmos voyager client.

The full node I tryed on gaia-6002 as described in the documentation. I also tryed different seeds and peers as described in this [tutorial](ht

[2018-08-30 20:28] pypypy777 commented on #1213
Update: I ran Voyager from the shell and it worked fine but gave me these errors:

(nautilus:1345): GLib-GIO-CRITICAL **: g_dbus_interface_skeleton_unexport: assertion 'interface_->priv->connections != NULL' failed

(nautilus:1345): GLib-GIO-CRITICAL **: g_dbus_interface_skeleton_unexport: assertion 'interface_->priv->connections != NULL' failed

(nautilus:1345): Gtk-CRITICAL **: gtk_icon_theme_ge

[2018-08-30 21:02] NodeGuy commented on #638
What is this blocked by?

[2018-08-30 21:08] NodeGuy commented on #1080
I can't reproduce it.  @faboweb are you able to reproduce it consistently?

[2018-08-30 21:11] NodeGuy commented on #1177
What do you mean by "everytime"?  Do you mean on every push?  I'm not seeing it on [the latest push](https://circleci.com/workflow-run/e5d052fe-95c3-401d-841d-c6ef089063bf).

[2018-08-30 21:14] NodeGuy commented on #1181
Fixed in https://github.com/cosmos/voyager/releases/tag/v0.10.1.

[2018-08-30 21:14] #1181 closed

[2018-08-30 21:16] NodeGuy commented on #1189
Where was this error seen/generated?  Please provide more detail.

[2018-08-30 22:07] NodeGuy commented on #386
I'm also reading a book about threat modelling.

[2018-08-30 22:09] NodeGuy commented on #520
What is blocking this?

[2018-08-30 22:28] #629 closed

[2018-08-30 22:43] NodeGuy commented on #1173
Do you mean "elide" instead of "concatenate"?

[2018-08-30 22:58] NodeGuy opened #1219 "Delegation / Redelegation"
Jordan, please link your design files here.

[2018-08-30 22:59] NodeGuy opened #1220 "Complete unbonding transaction"
- [x] Design
- [ ] Implementation

Unbonding stake is split into 3 phases:
- first the user needs to send an unbonding tx, this triggers the unbonding intent
- the user now needs to wait for a certain amount of time (30days or something) set for the network
- after 30 days the user needs to end the unbonding by sending another "end unbonding" transaction to receive his stake back liquid in his acc

[2018-08-30 23:00] NodeGuy commented on #520
@jbibla Please link your design here.

[2018-08-30 23:02] NodeGuy commented on #1220
@jbibla Please link your design here.

[2018-08-30 23:09] NodeGuy commented on #1172
Is this on the [roadmap](https://docs.google.com/document/d/1UMlt44hyO8igXlYY3AnIFPit-HGpeSBoL0oel0A-GZk/edit#heading=h.vbhggi2rgbo3)?

I'm concerned about feature creep.  Let's consider this for Staking 2.0.

[2018-08-30 23:10] NodeGuy commented on #1134
Let's move this to Staking 2.0 so that we can complete Staking 1.0.

[2018-08-30 23:14] NodeGuy commented on #1132
@jbibla Fede requested the design files 11 days ago.  Would you please post them here?

[2018-08-30 23:17] NodeGuy commented on #1104
Let's do this in Staking 2.0.

[2018-08-30 23:18] NodeGuy commented on #1015
Let's do this in Staking 2.0.

[2018-08-31 08:15] faboweb commented on #988
Created an issue on the Tendermint repo: https://github.com/tendermint/tendermint/issues/2304

[2018-08-31 09:06] faboweb commented on #969
This sounds like a longer endeavour. Let's respect the timebox and come back to it later. There are new proposals about handling this issue.

[2018-08-31 09:08] faboweb commented on #638
This is currently never appearing to the user as the process for this is commented out.
As discussed this is blocked on defining how this process actually will look like. We don't need to work on things that are not used right now.

[2018-08-31 09:11] faboweb commented on #1177
On every push to develop: https://circleci.com/workflow-run/c01fa5c9-8b35-495f-a049-36a053396188

[2018-08-31 10:28] #1217 closed

[2018-08-31 10:29] faboweb opened #1221 "Make linting a seperate check in CircleCI"
Description:

Currently linting is part of the testing step. It would be nice to have this as a separate check to quickly access the problem.

[2018-08-31 10:29] okwme commented on #1204
no idea, all i did was approve the PR, merge and delete branch

On Thu, Aug 30, 2018 at 8:23 PM David Braun <notifications@github.com>
wrote:

[2018-08-31 10:45] pypypy777 commented on #1213
Ah thanks for the notice I guess this [part](https://cosmos.network/docs/getting-started/full-node.html#genesis-seeds) of the the docs should be changed then

[2018-08-31 11:07] faboweb commented on #1134
I think improving the messages is not much work and a lot of benefit for our users.
The suggested improvements to notifications in general live in #891 and could imo be done later.

[2018-08-31 11:11] fedekunze commented on #969
Blocked: waiting for @jessysaurusrex 's input on security

[2018-08-31 11:11] faboweb commented on #1104
May be low amount of work with high value (expected 1h meeting with a decision, 1h implementation). But I don't feel strongly about this.

[2018-08-31 11:12] #580 closed

[2018-08-31 11:30] jbibla commented on #1173
update from SDK (can't find the issue):

[code]
or
[code]

hard to say.

[2018-08-31 11:32] #1059 closed

[2018-08-31 11:33] jbibla commented on #1172
@fedekunze i am not convinced we need to show this data in voyager. do you think we should? can you make a case for it?

[2018-08-31 11:34] jbibla commented on #1132
@NodeGuy the link was provided 10 days ago.

<img width="789" alt="screen shot 2018-08-31 at 7 34 05 am" src="https://user-images.githubusercontent.com/6021933/44910208-53a12b80-acf0-11e8-95f4-31eb5516b7a5.png">

[2018-08-31 11:35] faboweb commented on #1212
Does this have any implications for releases on GitHub or naming or the about section?

[2018-08-31 11:37] faboweb commented on #1173
Hö? They renamed `cosmosaccaddr` to `cosmos`?

[2018-08-31 11:38] faboweb commented on #1172
I think parameters for a network would be nice to show, right?

[2018-08-31 11:38] jbibla commented on #638
i think our idea for this was to implement some kind of "trust status" component so that users would not have to do this. is there a record / ticket for that feature somewhere? @cosmos/cosmos-ui ?

related to #100 for the record.

[2018-08-31 11:39] faboweb commented on #638
Please fo not discuss any node approval process in here. This is just about fixing css.

[2018-08-31 11:40] jbibla commented on #1213
looks like a version error - as @fedekunze mentioned. also, doesn't seem to be related to 6002.

from the log:

[code]

[2018-08-31 11:42] jbibla commented on #1104
apparently we are "Bonding POS" now... we can't move forward with this until we are certain.

[2018-08-31 11:43] jbibla commented on #1173
i believe so - @jackzampolin can you link the ticket? i'm sorry, i can't find it 😞

[2018-08-31 11:44] jbibla commented on #1172
maybe - but i don't think this is a `staking` issue.

[2018-08-31 11:45] jbibla commented on #638
ok. where should we discuss node approval process?

fixing the css is blocked?

[2018-08-31 12:27] faboweb commented on #1213
`gaiacli version: "0.24.2", expected: "0.24.1"` this is a patch version and shouldn't be a problem

[2018-08-31 12:41] faboweb opened #1222 "Node approval process design"
Gaia Lite trusts block headers if 2/3 of the signatures stay the same. The headers get updated when a user uses Gaia Lite. The headers might run out of sync when a user is a long time not using Gaia Lite/Voyager. We need to design a process how:
- a user declares an initial trusted block header
- a user sets (automatically or manually) a new trusted block header if the signature diff is over 1/3

[2018-08-31 12:42] faboweb commented on #638
@jb new epic here https://github.com/cosmos/voyager/issues/1222

[2018-08-31 13:00] fedekunze commented on #1172
imo it's defenitely `staking`. The inflation, unbonding period, max number of validators on the Hub, etc are things that are very important for delegators to be aware of

[2018-08-31 13:06] faboweb commented on #1172
Fede argues it is low work high value: we could have a simple modal showing with a button on the staking page showing this.

[2018-08-31 15:33] NodeGuy commented on #1221
Please add the `discuss` label to new issues.

[2018-08-31 15:35] NodeGuy commented on #1204
OK, maybe this is related to #1177.  Let's see if it happens again once that is fixed.

[2018-08-31 15:37] NodeGuy commented on #1134
OK, the notification suggestions are out of scope.  Do we still need to split this issue?

[2018-08-31 15:55] NodeGuy commented on #1080
So what's the desired behavior?  Should `getValidators` be called only when connected to a node or should we suppress the error message?

[2018-08-31 15:56] NodeGuy commented on #1132
I see a link to "my stake".  What about "validators index", "delegation form", and "redelegation form"?

[2018-08-31 15:58] NodeGuy commented on #1212
SemVer is more important for libraries than applications.

[2018-08-31 16:02] NodeGuy commented on #1173
Do you mean this PR?  https://github.com/cosmos/cosmos-sdk/pull/2103

[2018-08-31 16:07] NodeGuy commented on #1173
This proposal is about abbreviating addresses.  Concatenate means [to link together in a series or chain](https://www.merriam-webster.com/dictionary/concatenate).

[2018-08-31 16:09] NodeGuy commented on #1173
Sounds good to me.

[2018-08-31 16:19] NodeGuy commented on #1222
We had a long conversation about this in a UI/UX meeting.  I proposed that Voyager query, e.g., 100 nodes and if it gets back consistent block headers from a certain threshold, e.g. 80%, then it trust the headers.  IIRC @jbibla and @nylira liked the idea.

[2018-08-31 16:25] jackzampolin commented on #1173
@jbibla https://github.com/cosmos/cosmos-sdk/pull/2103 🙇

[2018-08-31 20:44] NodeGuy opened #1224 "Refactor E2E test: init.js:test("initialization""
UI Version: 0.X.X

Description:

[2018-08-31 20:45] NodeGuy opened #1225 "Refactor E2E test: init.js: t.test("survive config folder mess up""
UI Version: 0.X.X

Description:

[2018-08-31 20:45] NodeGuy opened #1226 "Refactor E2E test: preferences.js:test("preferences""
UI Version: 0.X.X

Description:

[2018-08-31 20:45] NodeGuy opened #1227 "Refactor E2E test: preferences.js: t.test("change""
UI Version: 0.X.X

Description:

[2018-08-31 20:46] NodeGuy opened #1228 "Refactor E2E test: preferences.js: t.test("default network""
UI Version: 0.X.X

Description:

[2018-08-31 20:46] NodeGuy opened #1229 "Refactor E2E test: preferences.js: t.test("mock network""
UI Version: 0.X.X

Description:

[2018-08-31 20:47] NodeGuy opened #1230 "Refactor E2E test: signin.js:test("sign in""
UI Version: 0.X.X

Description:

[2018-08-31 20:47] NodeGuy opened #1231 "Refactor E2E test: signin.js: t.test("signup""
UI Version: 0.X.X

Description:

[2018-08-31 20:48] NodeGuy opened #1232 "Refactor E2E test: signin.js: t.test("did check warning""
UI Version: 0.X.X

Description:

[2018-08-31 20:48] NodeGuy opened #1233 "Refactor E2E test: signin.js: t.test("set account name""
UI Version: 0.X.X

Description:

[2018-08-31 20:48] NodeGuy opened #1234 "Refactor E2E test: signin.js: t.test("set password""
UI Version: 0.X.X

Description:

[2018-08-31 20:49] NodeGuy opened #1235 "Refactor E2E test: signin.js: t.test("confirm password""
UI Version: 0.X.X

Description:

[2018-08-31 20:49] NodeGuy opened #1236 "Refactor E2E test: signin.js: t.test("logs in""
UI Version: 0.X.X

Description:

[2018-08-31 20:49] NodeGuy opened #1237 "Refactor E2E test: signin.js: t.test("sign out""
UI Version: 0.X.X

Description:

[2018-08-31 20:49] NodeGuy opened #1238 "Refactor E2E test: signin.js: t.test("seed""
UI Version: 0.X.X

Description:

[2018-08-31 20:50] NodeGuy opened #1239 "Refactor E2E test: signin.js: t.test("set account name""
UI Version: 0.X.X

Description:

[2018-08-31 20:50] NodeGuy opened #1240 "Refactor E2E test: signin.js: t.test("set password""
UI Version: 0.X.X

Description:

[2018-08-31 20:50] NodeGuy opened #1241 "Refactor E2E test: signin.js: t.test("confirm password""
UI Version: 0.X.X

Description:

[2018-08-31 20:50] NodeGuy opened #1242 "Refactor E2E test: signin.js: t.test("input correct seed text""
UI Version: 0.X.X

Description:

[2018-08-31 20:50] NodeGuy opened #1243 "Refactor E2E test: signin.js: t.test("logs in""
UI Version: 0.X.X

Description:

[2018-08-31 20:51] NodeGuy opened #1244 "Refactor E2E test: staking.js:test("staking""
UI Version: 0.X.X

Description:

[2018-08-31 20:51] NodeGuy opened #1245 "Refactor E2E test: staking.js: t.test("overview""
UI Version: 0.X.X

Description:

[2018-08-31 20:51] NodeGuy opened #1246 "Refactor E2E test: staking.js: t.test("bonding""
UI Version: 0.X.X

Description:

[2018-08-31 20:52] NodeGuy opened #1247 "Refactor E2E test: staking.js: t.test("unbonding""
UI Version: 0.X.X

Description:

[2018-08-31 20:52] NodeGuy opened #1248 "Refactor E2E test: wallet.js:test("wallet","
UI Version: 0.X.X

Description:

[2018-08-31 20:52] NodeGuy opened #1249 "Refactor E2E test: wallet.js: t.test("send""
UI Version: 0.X.X

Description:

[2018-08-31 20:52] NodeGuy opened #1250 "Refactor E2E test: wallet.js: t.test("LOCAL_1TOKEN balance before sending""
UI Version: 0.X.X

Description:

[2018-08-31 20:53] NodeGuy opened #1251 "Refactor E2E test: wallet.js: t.test("hit send with empty form""
UI Version: 0.X.X

Description:

[2018-08-31 20:53] NodeGuy opened #1252 "Refactor E2E test: wallet.js: t.test("address w/ less than or greater than 40 chars""
UI Version: 0.X.X

Description:

[2018-08-31 20:53] NodeGuy opened #1253 "Refactor E2E test: wallet.js: t.test("address not alphaNum""
UI Version: 0.X.X

Description:

[2018-08-31 20:53] NodeGuy opened #1254 "Refactor E2E test: wallet.js: t.test("correct address mis-typed""
UI Version: 0.X.X

Description:

[2018-08-31 20:54] NodeGuy opened #1255 "Refactor E2E test: wallet.js: t.test("amount set""
UI Version: 0.X.X

Description:

[2018-08-31 20:54] NodeGuy opened #1256 "Refactor E2E test: wallet.js: t.test("send""
UI Version: 0.X.X

Description:

[2018-08-31 20:54] NodeGuy opened #1257 "Refactor E2E test: wallet.js: t.test("own balance updated""
UI Version: 0.X.X

Description:

[2018-08-31 20:54] NodeGuy opened #1258 "Refactor E2E test: wallet.js: t.test("receive""
UI Version: 0.X.X

Description:

[2018-08-31 20:55] NodeGuy opened #1259 "Refactor E2E test: wallet.js: t.test("LOCAL_1TOKEN balance after receiving""
UI Version: 0.X.X

Description:

[2018-08-31 21:16] NodeGuy opened #1260 "Refactor E2E tests."
The E2E tests are a drag on our development speed.  They're failing constantly and non-deterministically.  E2E tests are a bad idea anyway: [Just Say No to More End-to-End Tests](https://testing.googleblog.com/2015/04/just-say-no-to-more-end-to-end-tests.html), [Integrated Tests Are A Scam](https://vimeo.com/80533536).  We should have very few E2E tests, like about only one.  Instead, we should be

[2018-09-01 02:04] jessysaurusrex commented on #969
Where did the requirement for the installer to be deterministic come from? Given some of the constraints that are mentioned above, it seems like we should wait for electron-builder to mature a bit more since there are other ways to address the risks at hand.

In this case, especially since we are talking about code that includes Electron (which is a huge project that we absolutely do not want to f

[2018-09-03 09:18] faboweb commented on #1172
hahahah soooooo true

[2018-09-03 09:26] faboweb commented on #1080
Both seem to be valid options. Maybe we need to defer REST calls a little bit, so we are sure the connected node is working and we wont reconnect. This would solve the root cause.

[2018-09-03 09:29] faboweb commented on #1132
validator index: https://sketch.cloud/s/xKnxA/all/voyager-ui/staking-validators-ui
delegation form: https://sketch.cloud/s/xKnxA/all/voyager-ui/staking-delegation
redelegation form: https://sketch.cloud/s/xKnxA/all/voyager-ui/staking-redelegation

[2018-09-03 09:31] fedekunze commented on #1134
@faboweb Yeah, we can use the request error response msgs from the `sdk.Error` `ABCILog()` function. Although I've just realized that we're returning only type `error` msgs on LCD endpoints instead of the `sdk.Error`s (which have the nice JSON format errors that we want).

So in summary, we are not getting the error msgs that we want to retrieve from the SDK...

[2018-09-03 09:36] faboweb commented on #638
doesn't the `for later` flag tell us, that it is not a priority? Still, I don't mind removing it.

[2018-09-03 09:41] faboweb commented on #969
@jessysaurusrex if having non deterministic binaries is enough from a security perspective, let's only go with signing. how would you setup the process of signing the binaries?

[2018-09-03 09:43] faboweb commented on #1177
Still doing it: https://circleci.com/gh/cosmos/voyager/6844

[2018-09-03 09:49] faboweb commented on #1134
Ref: https://github.com/cosmos/voyager/issues/1192

Summing up:
Errors will be displayed from the LCD. Success messages will be custom messages from Voyager. Then we don't need to split this. Any more input from our UX guy @jbibla ?

[2018-09-03 12:12] okwme opened #1262 "Cache keybase lookup results"
voyager freezes when it pings all of them at once on the staking page

[2018-09-03 12:26] okwme opened #1263 "Bonding Page Bugs"
This looks like the same decimal problems we were having before...
![screenshot 2018-09-03 14 24 30](https://user-images.githubusercontent.com/964052/44986793-3933b000-af85-11e8-9a81-ab32aaf73359.png)

(the one below is an easy fix and already taken care of)
![screenshot 2018-09-03 13 58 25](https://user-images.githubusercontent.com/964052/44986767-2a4cfd80-af85-11e8-8c05-2d2bf1b2e496.png)

[2018-09-03 12:36] okwme opened #1264 "/validators/latest ERR_CONNECTION_REFUSED"
so many error popups and my whole ui is frozen
does this have to do with nodes not being accurate about being accessible to request info from?

[2018-09-03 12:45] okwme opened #1265 "cant get to bonding page of staked validator"
![screenshot 2018-09-03 14 44 27](https://user-images.githubusercontent.com/964052/44987580-f4f5df00-af87-11e8-8d99-2acee309d8a3.png)

[2018-09-03 12:51] jbibla commented on #1212
how will we increment version numbers after mainnet launch?

[2018-09-03 12:53] jbibla commented on #1222
@NodeGuy yep!

this would be better than requiring the user to _find_ a validator hash and enter it into the modal.

[2018-09-03 13:22] #1264 closed, assigned to nobody

[2018-09-03 13:27] faboweb commented on #1199
Plan:
- improve caching behavior by only updating the cache on actual updates
- cache keybase requests

[2018-09-03 13:28] #1192 closed

[2018-09-03 13:30] jbibla commented on #638
- this ticket is for fixing a css bug on the existing modal (which may be deprecated in the future if we implement #1222 well)
- #1222 will require more conversation and design

so this can be `for later` IMO

[2018-09-03 13:32] jbibla commented on #1199
also, let's not block anything in making the requests to keybase. we can show a loading graphic or the default validator icon while loading.

also, we can lazy load the images - which should limit the requests significantly.

[2018-09-03 14:01] jbibla commented on #1134
i want to update the designs. in progress.

[2018-09-03 14:05] jbibla opened #1266 "new design for notifications in voyager"
i'd like to improve our notification design...

- colors and font size
- location on screen
- only display 1 at a time or stack them on top of each other

[2018-09-03 14:06] faboweb commented on #1080
I handle the case "skipping it" in #1216

[2018-09-03 14:11] fedekunze commented on #988
We shouldn't be blocked on Voyager side. Even in the case there's an issue on the SDK or Tendermint, we still need to identify non indexing nodes. Therefore I'm removing the `blocked` label

[2018-09-03 14:32] faboweb commented on #988
The problem is: We can't identify those nodes yet. There is no proposal for how to solve this yet.

[2018-09-03 14:53] jbibla commented on #965
please review:
- https://zpl.io/bLDW6gQ - Tx History - Loading
- https://zpl.io/VDndZ8W - Tx History - Failed
- https://zpl.io/bWLnE7e - Tx History - Claim

[2018-09-03 15:14] jbibla commented on #1092
from #1118:
[code]

designs for this more optimistic approach can be seen here: https://zpl.io/bLDW6gQ

[2018-09-03 15:33] NodeGuy commented on #1134
The situation here is a bit confusing.  Am I understanding this correctly that the part of the SDK we're depending on for this feature isn't working properly?  If so, let's block this issue and halt work on it until the SDK is fixed and let's fix it ourselves if necessary.  Otherwise we're losing efficiency.

[2018-09-03 15:36] faboweb commented on #1134
No. This is about defining diverse success messages. Ref https://github.com/cosmos/voyager/issues/1134#issuecomment-418062900

[2018-09-03 16:58] NodeGuy commented on #1131
Why was this reopened?

[2018-09-03 17:03] NodeGuy commented on #638
It's for fixing a CSS bug on the existing modal but that modal is never shown, correct?

[2018-09-03 17:07] fedekunze commented on #1131
@NodeGuy we need to update the errors coming from the SDK though LCD. I created the method `ABCIError()` for the `sdk.Error` struct, but it still shows `error.Error()`, which is different and not parseable to JSON

[2018-09-03 17:46] faboweb commented on #638
@NodeGuy correct

[2018-09-03 17:47] faboweb commented on #1131
Sorry this was the result of #1192

[2018-09-03 17:50] #1201 closed

[2018-09-03 19:36] NodeGuy commented on #1134
Oh, I see.  The error messages are being handled by https://github.com/cosmos/voyager/issues/1192.

[2018-09-03 19:39] NodeGuy commented on #638
I removed the `bug` label because it's not user-facing.

[2018-09-03 20:01] jbibla commented on #1201
🎉 awesome @faboweb

[2018-09-03 22:29] NodeGuy commented on #135
Holy cow there's a lot in there, @rigelrozanski!  Thanks for your offer of help.  I see the `cosmos/gaia` repository is now deprecated in favor of `cosmos-sdk`.  Would you please point us to the relevant document within `cosmos-sdk` (I can't find it) and extract for us the formulas we need?

[2018-09-03 22:35] rigelrozanski commented on #135
@NodeGuy - PR just being finalized now - you can look at everything in this dir. (https://github.com/cosmos/cosmos-sdk/tree/rigel/piggy-bank-fee-spec/docs/spec/distribution)

*note don't bother looking in the WIP folder - that's a more complicated mechanism which will not be implemented for a while

[2018-09-03 22:55] NodeGuy opened #1269 "User Feedback: Hugh (staking)"
split from #1117

- font too small!
- your votes (screenshot below) bug with count (your votes is greater than total votes)
- status = revoked - should be mentioned in the tooltip
- didn’t see next button after clicking checkboxes - didn't find "staking" screen
- wtf is unbounded steak (sounds like pulled pork) 🐷
- maybe call “steak” “testnet-atoms” instead of steak?  _Looks like this won't happen

[2018-09-04 00:48] NodeGuy commented on #1269
@jbibla Some questions:

- font too small!
- didn’t see next button after clicking checkboxes - didn't find "staking" screen

Are these no longer relevant because of your new designs?

What does that mean?

[2018-09-04 07:29] #1177 closed

[2018-09-04 09:06] faboweb opened #1270 "Show loading indicator in staking overview"
UI Version: 0.10.2

Description:

Loading staking info (staked atoms) takes a long time (45s). We cache the results to improve UX. Still we need to show an indicator, that Voyager is still loading the data from chain.

[2018-09-04 09:10] faboweb opened #1271 "Unobtrusive loading indicator"
UI Version: 0.10.2

Description:

Our loading indicator is pretty big and bold. While we are moving towards an optimistic UI, I think we should go for a more decent loading indicator. The loading indicator shouldn't block the user from interacting.

Example:
![image](https://user-images.githubusercontent.com/5869273/45021891-0c3dd680-b033-11e8-9179-1f3fa8946c5a.png)

[2018-09-04 10:17] faboweb commented on #1133
Blocked by a decision of the SDK team on how to handle this.

[2018-09-04 12:23] faboweb opened #1273 "Staked balance is wrong"
UI Version: 0.10.2

Description:

I received 10 steak. I have 8 available I am unbonding 1. I just staked 1.

![image](https://user-images.githubusercontent.com/5869273/45031040-086b7d80-b04e-11e8-9adb-3eb16a28b7cb.png)

[2018-09-04 13:00] jbibla commented on #1269
i've tried to use larger font sizes and it seems like avoiding the checkboxes will resolve the other issue.

---

the second question is no longer relevant because there will not be a filter for status' and therefore no corresponding tooltip. but what that meant was that if you hover on the status filter you will see a tooltip with description of status - but it doesn't mention `revoked` as an opt

[2018-09-04 13:03] jbibla commented on #1271
which loader are you saying is obtrusive?

[2018-09-04 13:04] jbibla commented on #1270
i actually think for loading the staking overview (at 45s) we need to have an obtrusive loader. 🐌

[2018-09-04 13:32] faboweb commented on #1271
`tm-data-loading`

[2018-09-04 13:33] faboweb commented on #1270
while loading the first time. after that, it could be done unobtrusive don't you think?

[2018-09-04 13:40] jbibla commented on #1220
not sure which you meant, so here are two designs.

https://zpl.io/bWL0krn - Unstaking
https://zpl.io/bWLnE7e - Claim

[2018-09-04 13:42] jbibla commented on #1219
https://zpl.io/bWL0krn - Staking
https://zpl.io/VxlvdWk - Restaking

[2018-09-04 13:43] faboweb opened #1274 "Measure assumed performance bottlenecks of the LCD delegations query"
Description:

To have a basis for discussion we want to generate a document that explains why we need this query, which parts of the SDK is slow and what we want the query result to look like. The last part handles serving of lite client proofs.

[2018-09-04 13:45] jbibla commented on #1183
@NodeGuy is there a reason you added the design label?

[2018-09-04 13:46] jbibla commented on #1012
we can filter by tabs - as shown here: https://zpl.io/bLDW6gQ

[2018-09-04 13:49] jbibla commented on #850
i think we agreed that this is a pretty neat side effect and is better than being obscured by a loader. as such i would propose to close this issue.

[2018-09-04 14:28] faboweb opened #1275 "Links to validators in transactions should lead to the internal validator page"
UI Version: 0.10.3

Description:

The links currently lead to the explorer. It was not possible to use a link to the internal validator. We need to change the transaction implementation in tendermint/ui to use vue-router.

[2018-09-04 14:28] faboweb commented on #1275
Pulling in @okwme

[2018-09-04 14:28] faboweb commented on #1274
Pulling in @fedekunze

[2018-09-04 14:30] okwme opened #1276 "LiDelegate watcher bug/refactor"
in `LiDelegate.vue:87` we're using a watcher on a getter  to trigger a mutation. The unit tests don't cover this scenario, which pointed the code out. I don't think this should be handled this way, and also is probably the culprit for the bug where you show a staked delegegator with the locked checkbox, yet you can't click next because they're not actually in the shopping cart.
[code]

[2018-09-04 14:34] okwme opened #1277 "rename VmToolBar to ToolBar"
as discussed in this PR
https://github.com/cosmos/voyager/pull/1188

[2018-09-04 14:36] #1053 closed

[2018-09-04 14:56] okwme opened #1278 "Create My Stake tab."
Originally part of https://github.com/cosmos/voyager/issues/1054 this was blocked because it was non-trivial to acquire a list of all validators to which the current user is currently unbonding from. Once that data is available it is possible to use the tab "My Stake" as a trigger for filtering the validators into sections of bonding and unbonding.

Scope:

- [x] create my stake page
- [x] link my

[2018-09-04 14:56] jbibla opened #1279 "voyager crashes and needs to be restarted"
`v0.10.1 macOS`

not sure why this happens. it is a reoccurring issue for me. i would suggest we add a button on the modal for rebooting voyager if this happens - otherwise the user has to manually exit and reopen the app.

<img width="907" alt="screen shot 2018-09-04 at 10 54 51 am" src="https://user-images.githubusercontent.com/6021933/45039160-fb8c6100-b030-11e8-9928-d072cb11e70d.png">

[code]

[2018-09-04 14:57] okwme opened #1280 "combine bonding page w validator profile"
Necessary to complete this issue https://github.com/cosmos/voyager/issues/1054 as once the checkboxes are removed there is no way to get to the bonding page. If the bonding actions were included on the validator page as the [new designs](https://zpl.io/aBNdBxK) detail, the checkboxes could be removed.

[2018-09-04 15:00] okwme opened #1281 "finalize mystake page"
once these two issues (https://github.com/cosmos/voyager/issues/1278, https://github.com/cosmos/voyager/issues/1280) have been completed it will be possible to complete the issue originally outlined here: https://github.com/cosmos/voyager/issues/1054

Those other two issues block the complete layout and [design](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b86c7054795d2342cb7e0dd

[2018-09-04 15:09] jbibla opened #1282 "prioritize connecting to full nodes that are already "caught up""
sometimes, voyager will connect to a full node that isn't caught up yet which is a drag for the user and can can possibly prohibit transactions from taking place. instead, before connecting to a full node, let's check to see if they are caught up or not. this will provide a superior UX for our users.

[2018-09-04 15:52] jbibla opened #1283 "refactor / update language to match current understanding + terminology"
i would _LOVE_ if we refactored just the language because delegates and delegators feels very old and unfamiliar.

the main issue i noticed was `delegates` and `delegators` but surely there are many others.

[2018-09-04 15:55] fedekunze commented on #1282
It's posible to get the node status with this [endpoint](https://tendermint.github.io/slate/?shell#status) and later get the `result.sync_info` from it. In this case you're suggesting to connect with the nodes that have `result. sync_info. syncing = false` value only ?

[2018-09-04 16:09] okwme opened #1284 "Optimistic UI implementation"
- [ ] Add in new layouts from https://github.com/cosmos/voyager/issues/1092

[2018-09-04 16:14] #1199 closed

[2018-09-04 16:17] faboweb commented on #1152
Waiting for redesign of Explorer

[2018-09-04 16:28] faboweb commented on #1265
May be the 45s issue

[2018-09-04 16:29] #1265 closed

[2018-09-04 16:29] #1273 closed

[2018-09-04 17:46] rigelrozanski commented on #135
@NodeGuy PR is now merged - https://github.com/cosmos/cosmos-sdk/tree/develop/docs/spec/distribution

[2018-09-04 19:26] NodeGuy commented on #1183
No, I must have fat-fingered it.

https://www.youtube.com/watch?v=OqjF7HKSaaI

[2018-09-04 19:28] NodeGuy commented on #1277
Should this be labelled `discuss` to go through our process?

[2018-09-04 19:30] NodeGuy commented on #1279
Please label all new issues with `discuss` until your new process is approved.

[2018-09-04 19:31] NodeGuy commented on #1279
What are the steps necessary to recreate this?

[2018-09-04 19:34] NodeGuy commented on #1283
What is our current understanding + terminology?

[2018-09-04 19:35] NodeGuy commented on #1282
Please add the label `discuss` to all new issues.

[2018-09-04 19:39] NodeGuy commented on #1284
Please add the `discuss` label to all new issues.

[2018-09-04 19:41] NodeGuy commented on #1276
Please remove issues from the backlog when moving them into Scrumptious.

[2018-09-04 19:42] NodeGuy commented on #1263
Please remove issues from the backlog when moving them into Scrumptious.

[2018-09-04 19:43] NodeGuy commented on #1219
Please remove issues from the backlog when moving them into Scrumptious.

[2018-09-04 19:46] jbibla commented on #1282
if `result. sync_info.syncing = true` when a node is syncing / catching up - then yes.

do you think that's a good idea?

[2018-09-04 19:46] NodeGuy commented on #1220
Uh oh, if you don't know what the design is then we can't call the design "done" and I can't implement it.

I created this issue from the "End unbonding" section of the roadmap.

We need a written spec for what this means.  @faboweb?

[2018-09-04 20:01] NodeGuy opened #1285 "Read SDK distribution spec and extract commission earned formula."
Read the [distribution specification](https://github.com/cosmos/cosmos-sdk/tree/develop/docs/spec/distribution) and extract the formulas necessary to implement:

- [ ] a user should be able to see how many fee shares they have been issued from each validator they have delegated to.
- [ ] we should display the approximate value of these fee shares

Supports #135

[2018-09-04 20:02] NodeGuy commented on #135
Thank you.  Blocked by #1285.

[2018-09-04 21:12] rigelrozanski commented on #1285
Not to throw a wrench in the UI - but you should know that the only "static and increasing" thing which a delegation will be gaining to represent their rewards is something called "accumulation". The current mechanism works in such a way that the actual rewarded tokens which are distributed when withdrawing "accumulation" can actually fluctuate based on change in incoming fees and other delegators

[2018-09-04 21:13] jessysaurusrex commented on #969
On our end, we'll need to make sure that we have some infrastructure in place in the form of secure secure servers (Windows, Mac, Linux machines) that are offline or that we can run from an automated and reproducible state... and we'll need to store the signing cert offline to reduce risk (possibly on a Ledger).  That's a bit of a operations work plus some planning in the certificate/key managemen

[2018-09-04 21:18] NodeGuy commented on #1219
Hold on cowboys, this is dependent on #1171 which is also part of this sprint.

[2018-09-04 21:35] NodeGuy commented on #1263
What are the steps to recreate this bug?

[2018-09-04 21:36] NodeGuy commented on #1276
What does that sentence mean?  I'm having trouble parsing it.

[2018-09-04 21:43] NodeGuy commented on #520
Please remove issues from the backlog when moving them into Scrumptious.

[2018-09-04 21:44] NodeGuy commented on #1171
Please remove issues from the backlog when moving them into Scrumptious.

[2018-09-04 21:46] NodeGuy commented on #1134
Please remove issues from the backlog when moving them into Scrumptious.

[2018-09-05 00:34] jbibla commented on #1219
it doesn't need to be dependent on #1171 - we can add a button to the existing profile page and work on the new modal ...

[2018-09-05 09:02] faboweb commented on #1283
delegates = candidates = validators. we agreed on naming them validators.
delegators stays the same as far as I know.

[2018-09-05 09:57] #1054 closed

[2018-09-05 09:59] faboweb commented on #965
I want to some up our discussion:
We don't need a "Tx page" or another form of showing more information on txs. If this is correct, feel free to close this issue.
If there is a need to show fees, we can add another issue for adding fees to transactions.

[2018-09-05 10:04] faboweb commented on #1278
This should be possible right now. We are already querying this data. The data lives in `delegations.js -> state.unbondingDelegations`.

[2018-09-05 10:07] siman commented on #965
Why? I would love to have a tx page. Every blockchain project has an explorer and the most required pages are:

- List of txs
- Tx details
- List of blocks
- Block details
- List of account
- Account details

These pages is a **must have**!

[2018-09-05 11:11] faboweb commented on #1277
According to process it should. I don't know if necessary though

[2018-09-05 11:34] faboweb commented on #1220
I updated the description

[2018-09-05 11:37] faboweb commented on #969
@jessysaurusrex thx for offering help. I will clarify some things today and ping you afterwards.

[2018-09-05 11:41] faboweb commented on #1263
@NodeGuy stake to a validator, wait until you get rewards/slashed, check the bonding page

[2018-09-05 11:51] faboweb commented on #1276
a watcher shouldn't probably call a commit on the store as it is not an interaction. this looks like a bad fix to solve the problem that not always all committed validators are present in the `shoppingCart`. Making sure of this should probably be handled in the store. this might already be fixed.

there strangely was no test coverage for this watcher. we decided to not create the coverage as we id

[2018-09-05 11:55] faboweb commented on #965
We have the block explorer for showing block related data here https://explorecosmos.network/ .
What would you like to see on a potential "Tx details" page in Voyager you are not seeing on the current tx design?

Designs:
![image](https://user-images.githubusercontent.com/5869273/45091577-35359880-b113-11e8-8e87-419d41e5b437.png)

[2018-09-05 12:11] jbibla commented on #1183
wonderful reference, thank you.

[2018-09-05 12:14] jbibla commented on #1279
1. open voyager 👐
2. log in 🔑
3. go for a canoe 🛶

basically, if you leave the app open for a while (20-1hr - not sure) - it will crash eventually. can't tell if it's _voyager_ or an issue with the node voyager is connected to.

[2018-09-05 12:14] faboweb commented on #1219
I agree with Jordan. I would see this as a replacement for PageBond. We can add the 2 buttons to the old PageValidator for now and replace the checkboxes (and shoppingCart logic) already.

[2018-09-05 12:16] faboweb commented on #1279
This probably has to do with an old gaia process not being terminated properly when reconnecting. The gaia process would then lock the keys db. The next gaia process will find the key db locked and crashes.

[2018-09-05 12:31] faboweb commented on #520
@jbibla probably wants to show the claim option in the rewards section of the design he posted. not to mixup with the "claim" button on the unbonding tx.

[2018-09-05 12:35] siman commented on #965
Right now tx list page in Voyager on Demo Network looks not attractive:

![image](https://user-images.githubusercontent.com/153928/45093251-85ffbe00-b120-11e8-83c2-dcee60849bab.png)

A new design looks good. Here are my notes on it:
- A number "5" is white so unreadable on yellow. Not enough contract. Better use dark color when light (yellow) background.
- Add UTC to a date and time. Right now it'

[2018-09-05 12:38] jbibla commented on #1283
well, the current conversation is that we want to push `Bonded Proof of Stake` which according to made up rules about language would imply that delegators = bonders. fun fact, roberta bondar 👩‍🚀  was the first canadian astronaut.

here are some combinations i've seen. feel free to add some if they are missing. i think the strongest choice is the last row to support `BPoS` and current (relatively)

[2018-09-05 12:38] faboweb commented on #965
The new transaction design will be available shortly.

This is copied out of our design colaboration tool and a note and not part of the design. ;)

I think showing this in your local time is more accessible then having long UTC strings. But arguable. Pulling in @jbibla .

[2018-09-05 12:43] jbibla commented on #1278
`unbondingDelegations` is not the same as "bonded delegators" by which i think @okwme means "currently bonded validators".

[2018-09-05 12:45] siman commented on #965
Blockchain explorers that look good (IMHO):

[Ark explorer](https://explorer.ark.io/):

![image](https://user-images.githubusercontent.com/153928/45093381-e858be80-b120-11e8-9a6c-62c03cf1994d.png)

Tx details page has good info, though a values could be better aligned close to field labels:

![image](https://user-images.githubusercontent.com/153928/45093485-2c4bc380-b121-11e8-940e-d95d82cb53a1.png

[2018-09-05 12:45] jbibla commented on #1220
yes, this is a new concept for me. please use the same interaction model and design we have for "claim".

[2018-09-05 12:47] faboweb commented on #1278
sounds like `unbondingDelegations`. maybe the title is wrong, maybe I am wrong. 🤷‍♂️

[2018-09-05 12:48] jbibla commented on #1219
yes, let's please get rid of `shoppingCart`.

🛒 🛒 🛒

[2018-09-05 12:49] jbibla commented on #520
in the future, to be known as the "unbonding" button 😉

[2018-09-05 12:52] faboweb commented on #1278
accessing the current state of the my stake page:
the distinction in bonded / unbonding validators is missing.

[2018-09-05 12:53] siman commented on #965
I would love to see a "Transactions" page on [Cosmos Explorer](https://explorecosmos.network/) as well. This page should aggregate all transactions found across all blocks. So a user can go to the "Transactions" page and check what is going on on Cosmos. Because right now mostly empty blocks are mined and they get produced to fast, so it's very hard to go through all of the blocks in order to find

[2018-09-05 12:54] siman commented on #1278
Is it possible to see your designs before implementing them or maybe even take some part in discussions?

[2018-09-05 12:58] jbibla commented on #965
hello @siman !

thank you for the ideas and feedback!

to clarify, Voyager will have a Transaction History page so you can see all transactions and associated transaction data that is relevant for your accounts.

the new designs will be available in the next release or the release after that.

please feel free to leave feedback and ideas on [this repo](https://github.com/cosmos/explorer) for the [

[2018-09-05 13:07] siman commented on #965
Thank you for an invitation 😃
As for Cosmos Explorer: I am dreaming of the next feature:

**Custom (dapp specific) tx details** page – it's when developers of dapps (that are based on TM/Cosmos-SDK) would describe different data structure of txs their app has and then based on this specs Cosmos Explorer would dynamically render different versions of "Tx details" page based on the structure/fields

[2018-09-05 13:14] siman commented on #965
@jbibla so I have posted my prev comment in Cosmos Explorer repo as an idea for custom tx details:
https://github.com/cosmos/explorer/issues/39

[2018-09-05 13:15] jbibla commented on #1278
that sounds like a great idea.

[here is a link](https://scene.zeplin.io/project/59e66beff6721ea8bf562e5b) to some designs we're working on.

[2018-09-05 15:15] NodeGuy commented on #1219
OK

[2018-09-05 15:16] #1191 closed

[2018-09-05 15:55] faboweb opened #1288 "Load delegation information in chunks"
UI Version: 0.10.3

Description:

Currently loading all delegation information (`GET /stake/delegators/{address}`) at once is very slow (45s). An idea of the team was to return to querying the delegation information between a delegator and a validator (`GET /stake/delegators/{delegatorAddr}/delegations/{validatorAddr}`) and pausing after each 5 or so to not block the render thread.

It would proba

[2018-09-05 16:31] NodeGuy commented on #1263
Forgive me for missing the obvious, but how long do I have to wait to get rewards/slashed?  I've been waiting a long time.

[2018-09-05 17:03] faboweb commented on #1263
If you stake to one of the top validators it should be less then 100 blocks I guess. But I am not sure.

[2018-09-05 17:37] NodeGuy commented on #1263
I've watched at least 10,000 blocks go by with no rewards.  @okwme Would you please walk me through how to recreate this bug?

[2018-09-05 17:53] rigelrozanski commented on #1283
bonding should generally never be used to describe an action of an actor, `bonded`, `unbonded`, and `unbonding` should only be used to describe the state of atoms, which is somewhat independent of whether tokens are `delegated` or `undelegated`. `delegating`, `undelegating` or `redelegating` are the actions which delegators (and validators) may make.

I would also totally avoid the language of `st

[2018-09-05 17:57] rigelrozanski commented on #1285
think of accumulation as a "share in available rewards to withdraw from a validator" Because incoming rewards fluctuate, the expected worth of these "accumulation-shares" also fluctuate.

You can ALWAYS withdraw all your accumulation. The value of your accumulated shares may decrease based on the dynamics of this system however

[2018-09-05 18:04] faboweb opened #1289 "We are displaying shares"
UI Version: 0.10.3

Description:

We are currently displaying shares received from `/stake/delegators/...`. Those are not atoms. Shares need to be multiplied with a token count of the validator.
We can either choose to show shares or calculate atoms.

[2018-09-05 18:53] jbibla commented on #1220
i'm saying the design for "claim" can be used for "complete unbonding" which can be found here https://zpl.io/bWLnE7e

[2018-09-05 18:58] jbibla commented on #1283
what is the thinking here?

sure, but in a BPoS system wouldn't it make sense to use Bonding and associated terminology instead of delegation - which is a lot like "Delegated Proof of Stake" which we are intentionally trying to distance ourselves from?

100% - this is the impetus for this ticket now, i guess.

[2018-09-05 18:59] jbibla commented on #1285
ah! interesting!

in what situation would this occur? in the event of slashing perhaps?

[2018-09-05 19:00] jbibla commented on #1289
i would propose calculating atoms

[2018-09-05 19:28] Chjango commented on #1283
I might even suggest going up a level higher. As far as describing our consensus mechanism in one elegant acronym like BPOS, we may not even have to change the underlying associated verbiage like who "delegators" are or who does the "bonding/delegating" action. This change _could_ be as simple as classifying ourselves as BPOS when we speak at conferences and meetups and popularizing it that way. W

[2018-09-05 19:29] NodeGuy commented on #1219
After looking at the designs it seems this isn't about redelegation—it's about delegation and undelegation, right?  I'm going to rename the title.

[2018-09-05 19:34] rigelrozanski commented on #1285
Rephrased from the spec:

you are incentivized to not withdraw until after this event, increasing the
worth of your existing _accum_.

The same is true of the fees suddenly dropping - if everyone else but you knew this was going to happen and they withdrew their fees, but you didn't, and then the fees dropppppped, then the relative worth of each of your accum with be reduced as new fees/accum were

[2018-09-05 19:44] rigelrozanski commented on #1283
The word "bond" is quite overloaded in our system so to avoid confusion we must separate out into multiple terms.

https://github.com/cosmos/cosmos-sdk/issues/1879

Is there consensus on switching the lingo for us to be using BPoS? that's the first I'm hearing of this. But also I disagree, I don't see why it's any different whether we're called "BPoS" or "DPoS" there is still the concept of token

[2018-09-05 20:43] Chjango commented on #1283
Technically, like you said, there is no difference. Marketing-wise, DPoS is EOS's claim to fame and if we use DPoS, we risk the dilution, conflation, and bucketing with EOS's system in the eyes of the lay person. So BPoS is our attempt to clarify the distinction, despite using the same word for attribution at the protocol level.

[2018-09-05 21:06] faboweb commented on #1289
same here. I would propose calculating atoms even already on the lcd side. does a client need to care about shares?

[2018-09-06 07:16] faboweb commented on #1285
More from a technical standpoint:
- can I query for accum shares already?
- on which events do the accum shares change their value? (so we can requery the shares) as from what I got, when the reward pool size changes, am I correct?

[2018-09-06 10:26] faboweb commented on #1220
Scope:
- add action button to the TmLiTransaction template in tendermint/ui
- change TmLiStakeTransaction for the unbonding transaction to
  - show the time until the unbonding period is over (where to get the unbonding period?)
  - show the call to action (disabling it until period is over)
- create action to send end unbonding transaction
- link end unbonding action to call to action on tx

[2018-09-06 10:32] faboweb commented on #520
Scope:
- Know how to "claim" rewards
- Know how to display rewards

Linking an active discussion of this: https://github.com/cosmos/voyager/issues/1285

[2018-09-06 13:10] faboweb opened #1291 "Query against seed nodes"
Description:

The new strategy pre launch is to solve performance problems by avoiding the client side LCD. This means we will query data against a full node directly. Our seed nodes i.e. `gaia-seed1.interblock.io` already serve a LCD interface at port 1317.

Scope:
- skip peer detection
- always connect to one of the seed nodes (full node)
- pass connected node to the view thread
- view thread qu

[2018-09-06 14:20] faboweb commented on #520
There is a tx for withdrawing all rewards [TxWithdrawDelegationRewardsAll](https://github.com/cosmos/cosmos-sdk/blob/develop/docs/spec/distribution/transactions.md#txwithdrawdelegationrewardsall)
It is also possible to withdraw just from one validator which we can implement as a 2nd step.

We probably need to create an endpoint to query for rewards, as there is none right now or calculate it clien

[2018-09-06 14:48] jbibla commented on #1289
does a client need to care about shares?

i can imagine a client caring about shares - but voyager doesn't have to IMO

[2018-09-06 14:51] jbibla commented on #1219
we have to account for (`delegation / staking / bonding`), (`undelegation / unstaking / unbonding`), (`redelegation / restaking / rebonding`).

[2018-09-06 16:52] faboweb opened #1293 "Implement redelegation"
Description:

Designs:
- [Modal](https://zpl.io/VxlvdWk)
- [Tx History](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b8d49746fb4e0204a7beca7)

Scope:
- [x] Implement redelegation tx design in tendermint/ui
- [x] Add redelegation tx to tx history
- [x] Implement redelegation in the new delegation popup
- [x] Implement sending the redelegation transaction

[2018-09-06 16:52] faboweb commented on #1219
Follow up for redelegation: https://github.com/cosmos/voyager/issues/1293

[2018-09-06 19:40] NodeGuy commented on #1219
Our standard modals have a darker background for the header:

<img width="581" alt="screen shot 2018-09-06 at 3 37 52 pm" src="https://user-images.githubusercontent.com/2148537/45180976-0985e180-b1eb-11e8-9c6d-67e80f12df42.png">

There's no such distinction in the design.  Do you care or should I reimplement `TmModal` for this one?

[2018-09-06 20:50] NodeGuy opened #1294 "Implement new undelegation design."
design: https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b8db0a0a6c5e64f12179319

Scope:
- [ ] add undelegation modal (copy existing delegation modal)
- [ ] trigger modal on undelegation button on validator page
- [ ] add e2e test

[2018-09-06 20:51] NodeGuy opened #1295 "Remove PageBond."
blocked by #1219, https://github.com/cosmos/voyager/issues/1293, and https://github.com/cosmos/voyager/issues/1294.

[2018-09-06 20:52] NodeGuy commented on #1219
Split out #1294 and #1295.

[2018-09-07 01:55] rigelrozanski commented on #1285
I'm implementing this mechanism right now - but I think it makes sense to be able to query for the accum yes, also we could implement a query for current worth of the accum as well (although it may be a tiny bit expensive so validator nodes probably should respond to this query)

[2018-09-07 13:48] faboweb commented on #1285
You mean `shouldn't`? validator nodes should probably anyway not respond to queries I thought?!

thx. here are multiple events described: https://github.com/cosmos/cosmos-sdk/blob/develop/docs/spec/distribution/state.md . are these irrelevant?

[2018-09-07 13:53] faboweb commented on #1219
the design for staking is actually not the same modal we have already. It is more a pop-over on the bottom like when you write a new email in google inbox. maybe it should still have the same layout. @jbibla can you help out?

[2018-09-07 17:44] rigelrozanski commented on #1285
the big one is here: https://github.com/cosmos/cosmos-sdk/blob/develop/docs/spec/distribution/end_block.md
where we describe what happens when the rewards are added to the distribution

[2018-09-07 20:06] NodeGuy commented on #1220
Oh, I get it.  Man, we're really good at generating lingo and synonyms!  :-)

[2018-09-07 20:08] NodeGuy commented on #1195
Closing in favor of https://github.com/cosmos/voyager/issues/1291.

[2018-09-07 20:08] #1195 closed

[2018-09-07 23:36] NodeGuy opened #1300 "Refactor app/src/renderer/vuex/modules/delegation.js/submitDelegation"
It currently assumes knowledge of existing delegations.  With the new UX this is unnecessary and adds complexity.

[2018-09-10 09:08] faboweb commented on #1285
Let me sum up how I understand this:
You want applications to recalculate the reward pool for each validator client side after each block? Isn't that impractical? How about we trigger an event "PoolChanged" so we don't need to replicate the logic client side?

[2018-09-10 09:09] faboweb commented on #1195
@NodeGuy is the refactor not useful for #1291?

[2018-09-10 09:31] fedekunze commented on #520
Blocked by https://github.com/cosmos/cosmos-sdk/pull/2236, not yet implemented on the SDK

[2018-09-10 09:34] faboweb commented on #1300
Could you elaborate a little more on what you mean with `It currently assumes knowledge of existing delegations` and why `With the new UX this is unnecessary and adds complexity.`?

[2018-09-10 10:12] fedekunze commented on #520
the implementation will take a while so I wouldn't consider adding it to this week sprint

[2018-09-10 10:30] faboweb opened #1301 "Reset lcdClientMock data after each test"
Description:

Apparently the state of the lcdclientmock does not reset after an individual test. The error probably resides in `vuex-setup.js`.

[2018-09-10 10:39] okwme commented on #1171
- [ ] add new header to validator page
- [ ] create profile box with image and same info from LiDelegate.vue component
  - reuse that component?
- [ ] table with metadata (needs to be mostly stubbed as lots of the info isn't available)

[2018-09-10 15:00] NodeGuy commented on #1219
Oh, OK.  I see another difference: With `TmModal` the rest of the window is darkened but that's not happening here.  I won't use it.

[2018-09-10 17:58] rigelrozanski commented on #1285
Just to be clear, the SDK doesn't calculate the PoolWorth until a withdraw transaction is submitted, which means, the worth of each accum for each delegation is actually unknown by the hub until the specific delegator submits a transaction.

The only thing I can see that would work was is the applications only provide an estimated worth of a delegators accum which can be calculated on the applicat

[2018-09-10 21:51] siman commented on #1171
no access :(

[2018-09-11 08:36] #1276 closed

[2018-09-11 09:53] faboweb opened #1303 "Spamming of 'setSubscription'"
UI Version: 0.10.3

Description:

![image](https://user-images.githubusercontent.com/5869273/45352648-440bc780-b5b9-11e8-8b64-2ec573e3b26c.png)

The commit 'setSubscription' is called continuously.

[2018-09-11 10:11] haasted opened #1304 "Cannot read full address"
UI Version: v0.10.2-macOS

While inspecting validators to find a suitable staking destination, I noticed that the Pub Key field of one of them was truncated by the UI:
![screen shot 2018-09-11 at 12 05 31](https://user-images.githubusercontent.com/1016810/45353563-6dc5ee00-b5bb-11e8-8ba1-1675573fe2cb.png)

There appears to be no way to expand the line and access the entire address.

[2018-09-11 14:00] faboweb commented on #1304
We are redesigning the validator page right now. We will pay attention to put your feedback in effect there.
Until then: can you double click the pubkey and copy the whole key this way?

[2018-09-11 14:06] haasted commented on #1304
@faboweb : Yes, double-clicking and copying will include the entire string.

Manually selecting the entire, visible string will only copy the visible parts.

[2018-09-11 14:37] okwme commented on #1300
Also curious what you mean exactly @NodeGuy
But would like to add that I also noticed this function needs some refactoring. Especially with regard to correctly calculated optimistic updates on atom/share amounts and querying the new delegates to confirm the optimistic updates only after a new block header has been received. Maybe this issue should be split up into David's specific task as well as

[2018-09-11 14:52] fedekunze commented on #1270
waiting for cosmos/cosmos-sdk#2249 to be merged so that we won't require the loader

[2018-09-11 15:33] #1092 closed

[2018-09-11 15:37] faboweb opened #1306 "Claim staking rewards"
I as a user
Want to be able to claim rewards I have with validators
So that I can receive my earnings from the system

AC:
- [ ] button on delegations tab (following JBs designs)
- [ ] claim should open an action modal to sign the claim transaction

Old:
There is a tx for withdrawing all rewards TxWithdrawDelegationRewardsAll
It is also possible to withdraw just from one validator which we can imp

[2018-09-11 15:38] faboweb commented on #1306
Follow up of #520

[2018-09-11 15:39] faboweb commented on #476
Wait for decision on outsourcing

[2018-09-11 15:40] fedekunze commented on #1015
Blocked. No way to query this atm on the SDK

[2018-09-11 15:47] faboweb commented on #1173
add copying #1174

[2018-09-11 16:04] #1274 closed

[2018-09-11 16:09] #1270 closed

[2018-09-11 16:15] #520 closed

[2018-09-11 16:54] NodeGuy commented on #1193
Moved to https://github.com/cosmos/cosmos-sdk/issues/2307.

[2018-09-11 16:54] #1193 closed

[2018-09-11 17:07] faboweb commented on #1278
Scope:
- [ ] create my stake page
- [ ] link my stake page from the tabs menu
- [ ] create list of validators you have bond with (based on `committedDelegations`)
- [ ] create list of validators you are unbonding from (based on `unbondingDelegations`)
- [ ] add link to all validators

[2018-09-11 17:13] faboweb commented on #1189
Scope:
- check where errors could appear that do not trigger `handleCrash`

[2018-09-11 21:10] jbibla commented on #1304
thank you @haasted - is this on the explorer at cosmosexplorer.com?

[2018-09-11 21:11] #1304 closed

[2018-09-12 09:32] #1263 closed

[2018-09-12 10:59] faboweb opened #1308 "Staking without staking"
Commit 47cd3936ed250223e0a354727c77a65571e6a372

Go to PageBond
Don't change a thing
Confirm
Delegate

This will create a delegation request.

[2018-09-12 14:38] fedekunze commented on #1219
@NodeGuy do we need this point if we are already adding the "Close" and `X` buttons ?

[2018-09-12 16:49] faboweb opened #1311 "add e2e tests for unbonding flow"
Description:

The test should test the flow:
- [ ] stake to a validator
- [ ] unbond from a validator

[2018-09-12 23:41] NodeGuy commented on #1195
According to my read of this, not only is the refactor not useful but neither is Addressbook any more.  Why keep an address book of peer nodes if we're connecting to only one node?  Am I understanding this correctly?

[2018-09-12 23:42] NodeGuy commented on #988
Is this now irrelevant because of https://github.com/cosmos/voyager/issues/1291?

[2018-09-12 23:51] NodeGuy commented on #1300
My understanding is that the old design would display the current state of delegation and allow the user to modify it.

For example:

currently delegated: 5 atoms
additional amount to delegate: 2 atoms

`submitDelegation` takes as input 7 atoms, reflecting both the state of the current delegation and the new.

The new design doesn't make any reference to the previous delegation:

additional amount

[2018-09-12 23:56] NodeGuy commented on #1308
PageBond will be replaced soon by https://github.com/cosmos/voyager/issues/1219.

[2018-09-13 00:33] NodeGuy commented on #1219
@faboweb requested it and I think it's a good idea.

I guess so but haven't seen a spec for any of this.  @faboweb is there a spec?

[2018-09-13 07:52] faboweb commented on #1219
Yep. Maybe do delegation first and then do redelegation in another PR.

Let's not handle problems we do not yet have. When the split happens, the logic on our hand probably can be easily changed.

[2018-09-13 07:56] faboweb commented on #1308
It is/was a problem with the comparison of old atoms vs new atoms. If it will not be a problem with the new implementation, we can close this.

[2018-09-13 08:01] faboweb commented on #1300
I get it:
In the new design delegating and undelegating are 2 separate interactions and they both get as an input the diff. So we don't need to calculate the diff in `submitDelegation`.
Sounds good.

[2018-09-13 08:03] faboweb commented on #1291
The seed nodes are not full nodes as of Greg. But Greg will setup full nodes for us soon.

[2018-09-13 08:03] faboweb commented on #988
We can ice this PR. We can get back to it after launch.

[2018-09-13 08:06] faboweb commented on #1195
Right. So should we archive the addressbook code then? In the future we probably want to have this again.

[2018-09-13 08:36] faboweb opened #1312 "Pick full node on UI"
As a follow up for https://github.com/cosmos/voyager/issues/1291 we might allow the user to pick a node they trust.

Scope:
- component: ability to enter an IP of a trusted node
- logic: ability to connect to a full node based on an IP set in the view

[2018-09-13 08:41] cwgoes commented on #988
I think we should keep trying to fix this - Voyager isn't the only client that might need to query indexing status, and we want the user to have the ability to select a different full node.

I'll try to take a look today or tomorrow.

[2018-09-13 12:09] fedekunze opened #1313 "Move session modals to independent pages"
**Description:**

Currently the session is handled though modals. We should turn them into pages in `vue-router` as dicussed here https://github.com/cosmos/voyager/issues/1080#issuecomment-411104431.

[2018-09-13 12:17] fedekunze commented on #1080
Created #1313 to turn the session modals to pages

[2018-09-13 14:14] fedekunze opened #1315 "Hide notification error if it's already shown"
**Description:**

<img width="984" alt="screen shot 2018-09-13 at 4 11 19 pm" src="https://user-images.githubusercontent.com/31522760/45493818-e9689c00-b76f-11e8-94c7-7dd4acac0666.png">

We should check if the error is the same as one of the others displayed before pushing the notification

[2018-09-13 14:17] fedekunze opened #1316 "Addressbook: Cannot set property 'state' of undefined"
UI Version: 0.X.X

Description:

[code]

[2018-09-13 14:58] jbibla commented on #1312
a better ux might be to let the user pick from a list of full nodes including monikers and IPs.

but i'm not sure we need to do any of this before launch.

[2018-09-13 14:59] jbibla commented on #1313
nice!

[2018-09-13 15:00] jbibla commented on #1315
at least, position absolute or fixed instead of relative

[2018-09-13 15:40] NodeGuy commented on #1308
I suspect it won't be a problem.  Let's close it for now and re-open if necessary.

[2018-09-13 15:40] #1308 closed

[2018-09-13 15:41] NodeGuy commented on #1291
@greg-szabo Please let us know when `gaia-seed1.interblock.io` is a full node.

[2018-09-13 15:42] NodeGuy commented on #1195
I agree we'll probably want to have it again and I don't see any harm in leaving it as it is since it can handle the case of a single node already.

[2018-09-13 15:46] NodeGuy commented on #988
Iced.

[2018-09-13 15:46] #988 closed

[2018-09-14 14:51] faboweb commented on #1312
agreed

[2018-09-14 14:58] faboweb commented on #1315
sounds like an easy solution

[2018-09-14 18:15] NodeGuy commented on #1280
Covered by https://github.com/cosmos/voyager/issues/1219, https://github.com/cosmos/voyager/issues/1293, and https://github.com/cosmos/voyager/issues/1294.

[2018-09-14 18:15] #1280 closed

[2018-09-14 18:17] NodeGuy commented on #1278
Your scope expands the issue beyond bonded delegators.  I've copied your scope additions to the main body and changed the title.

[2018-09-14 18:19] NodeGuy commented on #1278
I see now there was already an issue for [implement "My Stake" page](https://github.com/cosmos/voyager/issues/1054) which was closed even though it wasn't done.  Man, this is confusing.

[2018-09-14 18:22] NodeGuy opened #1319 "Complete LiValidator.vue"
The following code is incomplete:

[code]

[2018-09-14 18:26] NodeGuy commented on #1278
I split out the completion of LiDelegate to #1319.

[2018-09-14 22:18] #1220 closed

[2018-09-17 09:59] fedekunze commented on #1133
Closed by cosmos/cosmos-sdk#2249

[2018-09-17 09:59] #1133 closed

[2018-09-17 13:50] jbibla commented on #1312
even if you know the IP of the node, having a list would be nice / could help with verification etc...

[2018-09-17 19:02] NodeGuy opened #1321 "cosmetic improvements to TmModal"
Here's an example use of TmModal in PageValidator:

<img width="351" alt="screen shot 2018-09-17 at 3 01 09 pm" src="https://user-images.githubusercontent.com/2148537/45644033-90a84480-ba8a-11e8-922f-9fe8d5a4460a.png">

In this application it would be nicer if:

* the `X` button didn't exist (made optional)
* there is a space between the icon and title
* there is no horizontal line above the foote

[2018-09-17 19:03] NodeGuy commented on #1219
Created new issue about warning dialog: https://github.com/cosmos/voyager/issues/1321

[2018-09-18 15:40] #1174 closed

[2018-09-18 15:47] faboweb commented on #1279
Fixed by #1314

[2018-09-18 15:47] #1279 closed

[2018-09-18 15:55] #1288 closed

[2018-09-18 15:56] #1289 closed

[2018-09-18 16:05] #1213 closed

[2018-09-18 16:07] #1160 closed

[2018-09-18 16:09] faboweb commented on #1080
The rpc subscription starts before the REST client is up. The headers come in and trigger a load of the validators before the the REST server is up. This creates this issue.

Current patch: Do not load data before the user is not signed in (which should be after the REST server is up).

[2018-09-18 16:09] #1080 closed

[2018-09-18 16:09] NodeGuy commented on #1104
Duplicate of #1283.

[2018-09-18 16:09] #1104 closed

[2018-09-18 16:20] jbibla opened #1322 "move network connectivity bar to sidebar to match design"

[2018-09-19 08:44] fedekunze commented on #1131
Scope:

- [ ] Check that all errors returned by LCD are consistent
- [ ] Check that all errors are returned as JSON
- [ ] Check that errors return the appropriate HTTP status code
- [ ] Verify that Voyager's notifications show only the msg of the error

[2018-09-19 10:05] #1189 closed

[2018-09-19 10:09] fedekunze opened #1324 "Change PageValidator boxes background color"
Description:

As per our discussion in #1317.  The current validator information boxes (e.g: owner, commission, etc) are similar to our input form fields. Let's change the background color (e.g to gray) to make them more distinguishable.

![image](https://user-images.githubusercontent.com/31522760/45759296-e534f680-bc27-11e8-9e03-aef330c777a5.png)

[2018-09-19 10:14] fedekunze opened #1325 "Add status dots on the validator Li component"
Description:

Without them it's hard to distinguish a validator that is revoked from one that is not (see https://github.com/cosmos/voyager/pull/1317#discussion_r218400727).

Original designs:

- [Validator Index](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b86c70526b2ec29512fcf21)
- [Validator Index - Status](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b8db0a

[2018-09-19 10:25] fedekunze opened #1326 "Remove delegation checkboxes on validators page"
Description:

We don't need them anymore since we implemented the staking modal.

[2018-09-19 11:54] faboweb commented on #1319
Uptime (%) = signingInfo.signed_blocks_counter * 100/ (latest_block_height - signingInfo.start_height)

100 blocks is not much. Maybe go for 10000 blocks? Plus I feel a lot will have like 99.99% uptime which doesn't say much. How about displaying failed blocks?

Uptime (%) = signingInfo.signed_blocks_counter * 100/ (latest_block_height - signingInfo.start_height)

How about adding this to the quer

[2018-09-19 11:56] fedekunze commented on #1319
@faboweb the `*100` is to calculate the % 😄

[2018-09-19 11:59] fedekunze commented on #1319
@faboweb I think adding a `slashing/jailed` counter on the sdk would make sense. cc: @cwgoes

[2018-09-19 12:03] #1171 closed

[2018-09-19 12:40] faboweb commented on #1319
ahhhh hahahahaah sorry nvm

[2018-09-19 12:50] cwgoes commented on #1319
Can you further explicate? To find the number of slashes or jail/unjails within a certain block range you can query the events by tag and sum up the length of the array.

I don't think we want to track unnecessary data in consensus state. In the future special indexing nodes could do such a thing, but that's probably out of scope prelaunch.

[2018-09-19 13:06] jbibla commented on #1324
@fedekunze can you share a screenshot - i think i know what you're talking about but i want to make sure.

[2018-09-19 13:07] jbibla commented on #1325
yep!

[2018-09-19 13:47] faboweb commented on #1319
Querying all slashing txs for a certain range and then mapping them to validators might be a good solution.

[2018-09-19 14:24] jbibla opened #1328 "testnet.js is has incorrect file path for testnet directories"

[2018-09-19 14:28] jbibla commented on #1328
user error - apologies

[2018-09-19 14:28] #1328 closed

[2018-09-19 14:35] faboweb commented on #1324
Note: The info boxes ("My Stake" et al) look a lot like input fields as well. So maybe we shouldn't make the background gray as is there.

[2018-09-19 14:49] jbibla opened #1329 "when no nodes found, retry connection should show what's happening"
the retry connection is so fast that it seems like nothing is happening - let's show the loader for at least 2 seconds and explain what happened...

[code]

[2018-09-19 15:32] jbibla opened #1330 "error when trying to use the demo mode"
UI Version: 0.10.2

Description:
1. `yarn start gaia-8001`
2. click `try demo` button

[code]

[2018-09-19 16:55] NodeGuy commented on #1319
Possibly related to https://github.com/cosmos/voyager/issues/1285.

[2018-09-20 10:50] faboweb opened #1332 "Governance LCD improvements"
We need usable governance endpoints. Therefor we need to evaluate the endpoints and improve them if necessary.

Scope:
- Create list of requests / use cases for governance
- Check if LCD is good enough for those use cases
- Improve the LCD on the use cases that are not good enough

[2018-09-20 10:52] faboweb opened #1333 "Proposal overview"
We need to access the design of the proposal overview in governance.

Scope
- [ ] Design ready
- [ ] Implementation

[2018-09-20 10:54] faboweb opened #1334 "Proposal creation"
We need to evaluate if the current proposal creation is still fitting the design and flow of the SDK.

Scope:
- [ ] Design
- [ ] Implementation

[2018-09-20 10:54] faboweb opened #1335 "Voting"
We need to evaluate if the current voting flow is still fitting the design and flow of the SDK.

Scope:
- [ ] Design
- [ ] Implementation
- [ ] Link to explain the types of proposals

[2018-09-20 11:12] faboweb opened #1336 "Validator coloring thresholds"
We need to decide which thresholds we want to use for the validator warnings:

![image](https://user-images.githubusercontent.com/5869273/45814614-6fd42f00-bcd6-11e8-8a90-f25837794bdf.png)

Pulling in @gamarin2 @cwgoes @rigelrozanski

Scope:
- [ ] decide on thresholds
- [ ] implement thresholds

[2018-09-20 12:47] faboweb commented on #1336
I like the idea. How about just adding up slashed percent: `0.01%  + 0.1% + 5% = 5.11%`

But those factors go for everybody. I don't really get your hesitation. Could you maybe try to convince me a little more? :)

[2018-09-20 13:04] gamarin2 commented on #1336
How do you objectively determine if a commission is too high? You can't put absolute numbers, cause imagine Atom price tanks so hard that all validators have to substantially increase their commissions. Everybody would be in red.

So then you have the option of looking at the median commission or something like that, and then put in red validators that deviate from the median from +20%? +30%? It's

[2018-09-20 13:49] faboweb opened #1337 "Refactor unit tests"
We want to redesign how the unit tests are written so they are uniform.

Scope:
- [x] written design proposal
- [ ] implementation of the proposal throughout all tests

[2018-09-20 14:07] faboweb opened #1338 "Ledger support"
Support for ledger nano.

- [ ] Design user flow
- [x] Implement account creation
- [ ] Implement signing

[2018-09-20 14:15] faboweb opened #1339 "JS Keystore"
We currently rely on the key store integrated in the gaia binary. This is troublesome as we i.e. need to wait until the REST server is up until we can sign in the user. This also blocks us from moving Voyager to the browser.

The key store would need to be able to:
- [ ] create new key pairs that are compatible with the SDK
- [ ] create seeds that are compatible with the SDK
- [ ] import key pairs

[2018-09-20 14:21] faboweb opened #1340 "Amino JS"
To be able to sign messages (and later use lite client proofs to verify data) from within the browser and not rely on the gaia binary we need an amino (serializer/deserializer based on protobuf) version in JS. There is already an implementation we can use:
https://github.com/irisnet/irisnet-crypto/blob/master/chains/iris/amino.js

Scope:
- [ ] serialize all messages with amino-js (in lcdClient.js)

[2018-09-20 14:25] faboweb opened #1341 "Remove binary from main process"
We do not want to rely on a binary for Voyager. We want full control over our process. This enables us to put Voyager in the web.

Blocked on:
#1339
#1340

Scope:
- [ ] remove gaia binary from main process
- [ ] remove ipc messages
- [ ] reduce main process to starting the Voyager Vue application

[2018-09-20 14:28] faboweb commented on #1336
I get it now. Thank you. I like the median idea. Let's go with your proposal and not color it in the first iteration.

[2018-09-20 14:50] jbibla commented on #1340
if we are going to depend on third party libraries - we need to make sure the standards are high enough for our product and that they intend to continue to maintain and develop this software. or we can fork it and take care of it ourselves.

[2018-09-20 14:58] cwgoes commented on #1336
I like the median idea too, and it might apply to more than just commission - delegators are always choosing between a set of real validators, why not base our UI indicators on how those validators are actually performing instead of hardcoded thresholds? In any case, for all stats, could we show on hover the percent deviation (up or down) from the median commission?

I think uptime duration and pe

[2018-09-21 11:55] faboweb commented on #1340
I vote for forking and merging back to them. I suppose our fork will have a higher standard anyway and they will use ours in the future. :)

[2018-09-21 11:55] faboweb commented on #1338
Needs to be implemented in #1339

[2018-09-21 16:49] NodeGuy commented on #1332
Governance specification: https://github.com/cosmos/cosmos-sdk/tree/develop/docs/spec/governance

[2018-09-21 17:47] NodeGuy opened #1343 "Remove tabs from TmBalance"
TmBalance shows the balance across the top of the page.  It currently contains logic to display tabs underneath, which may be useful sometimes, but it would be a cleaner design to keep the tabs out of it.

It's currently causing a visual bug on the staking page because of the `cursor not-allowed` style.

[2018-09-21 18:29] jbibla opened #1344 "console_error_throw.js obscures failing unit tests"
would be nice to remove this so you can debug broken tests more easily.

[2018-09-21 19:34] alessio opened #1346 "Migrate to HTTPS-enabled LCD"
Since `gaiacli 0.24.2-424-ge2da4caa` the REST server now serves requests via HTTPS by default.
Please introduce HTTPS support.

[2018-09-24 10:17] fedekunze commented on #1346
Thanks @alessio !

[2018-09-24 10:32] fedekunze commented on #1332
Imo the one that needs some improvement is `GET /gov/proposals`. It currently uses query parameters for `depositer` and `voter` that should be split into different endpoints.

[2018-09-24 10:36] fedekunze opened #1349 "Add support for staking queries"
Description:

Create search or advanced filter to query for specific parameters on the staking endpoints (once supported)

Ref: https://github.com/cosmos/cosmos-sdk/issues/2202

[2018-09-24 11:08] faboweb commented on #1343
The tabs could be a slot.

[2018-09-24 11:16] faboweb commented on #1344
You can comment the code out to get the errors. The file prevents tests from passing in several cases that the code fails but the error isn't caught by the tests.

[2018-09-24 11:40] #1343 closed

[2018-09-24 12:04] faboweb commented on #1291
Currently we are waiting for Voyager full nodes to be available.

[2018-09-24 12:42] faboweb commented on #1349
Why would we need these additional querys?

[2018-09-24 12:46] faboweb commented on #1269
@jbibla can close this?

[2018-09-24 12:48] #1132 closed

[2018-09-24 12:49] faboweb commented on #1111
We decided to not go with locally installed applications.

[2018-09-24 12:49] #1111 closed

[2018-09-24 12:50] faboweb commented on #1036
Link #55 #1222

[2018-09-24 12:51] faboweb commented on #969
Closing this as we will no longer aim to deliver an installable application.

[2018-09-24 12:51] #969 closed

[2018-09-24 12:52] faboweb commented on #507
Closed in favor of #1334

[2018-09-24 12:52] #507 closed

[2018-09-24 12:53] faboweb commented on #476
We do not longer aim to ship an installable application.

[2018-09-24 12:53] #476 closed

[2018-09-24 12:55] faboweb commented on #378
Blocked on missing cross compilation ability of the ledger code in the SDK.
Closing in favor of #1338

[2018-09-24 12:55] #378 closed

[2018-09-24 12:55] faboweb commented on #120
Closing in favor of the test that will be written in context of #1334 #1333

[2018-09-24 12:56] #120 closed

[2018-09-24 12:56] faboweb commented on #141
Closing in favor of #1335

[2018-09-24 12:56] #141 closed

[2018-09-24 12:57] faboweb commented on #376
Closed in favor of #1346

[2018-09-24 12:57] #376 closed

[2018-09-24 13:00] fedekunze commented on #1349
@faboweb For instance to display only `jailed`, only `unjailed` or both validators. Same with validator `status`. Also to the state of the validator at a certain block height.

[2018-09-24 14:25] fedekunze opened #1351 "Tab Validators doesn't redirect from PageValidator"
**Description:**

When I want to go back to the see the list of validators from `PageValidator`, the Validators tab doesn't work. I have to go back and with the arrow (to the My stake tab) and click the Validators tab.

**Expected behaviour:**

Clicking the Validators tab should redirect you to see the validator list

[2018-09-24 14:38] #1182 closed

[2018-09-24 14:52] fedekunze opened #1352 "Clicking on validator from Your Validators changes tabs"
Description:

If you go to `Staking` > `My Stake` tab  and click on a validator, it changes the tab to `Validators`, when it should still be `My Stake`

[2018-09-24 15:01] faboweb commented on #1349
Status queries can be evaluated offline, as we already loaded the data. I am not sure we need an extra endpoint for the sake of possibility. ;)

Regarding validator at certain block height: Can you think of a user story that would need this?

[2018-09-24 15:31] NodeGuy commented on #1344
I find myself commenting the code out every time I work on a PR these days because they obscure the source of errors.  Can we fix something elsewhere so we don't need these anymore?

[2018-09-24 15:35] fedekunze commented on #1349
In the case of Voyager that's true, but still need to filter them

[2018-09-24 15:43] fedekunze commented on #1349
@faboweb

"As a delegator I want to keep track the validator's voting power and self stake over time by being able to query for a specific block height"

"As a delegator I want to be able to identify important events that define validator performance over time such as slashing and jailing so that I can compare them with the validator's self stake, voting power and commission"

[2018-09-24 15:47] NodeGuy commented on #1351
Do you mean you're seeing a Validators tab on PageValidator?  If so then please try again with the latest develop because there shouldn't be one.

[2018-09-24 15:49] NodeGuy commented on #1352
When I click on a validator I no longer see tabs at all.  Please try again with latest develop and let me know if it's still a problem.

[2018-09-24 17:24] #1351 closed, assigned to nobody

[2018-09-24 18:04] fedekunze opened #1353 "Show the jailed_until time in PageValidator (if revoked)"
Description:

With the validator signing info we can show the date time until which the validator is jailed:

[code]

We would need to figure it out where to show this info. Imo it should go on the header

[2018-09-24 18:29] NodeGuy opened #1354 "Make it possible to run E2E tests while Voyager is open."
While writing an E2E test it's helpful to have Voyager open as a reference.

Current steps for writing a new E2E test:

1.  Perform manual steps in Voyager for the test.
1.  Write the steps into code.
1.  Quit Voyager.
1.  `yarn test:e2e` and watch the new test fail.
1.  Start Voyager
1.  Navigate back to the part being tested.
1.  Improve the test.
1.  Repeat starting at step #3 until the test wo

[2018-09-25 07:58] faboweb commented on #1344
Let's spike it.

[2018-09-25 09:19] faboweb commented on #1349
So this really is about the block height? I see a benefit there when we do over time charts for validators. 👍

I don't see a benefit for the other filters. I fear that they would only result in additional requests that would return data we already have.

[2018-09-25 09:21] faboweb commented on #1351
Why are there no tabs on PageValidator? The design suggest there should be: https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b8556a1cc45e20883c50006

[2018-09-25 11:45] faboweb commented on #1316
Doesn't happen anymore.

[2018-09-25 11:45] #1316 closed

[2018-09-25 11:47] faboweb opened #1356 "Remove coloring of validator properties"
Remove the color indicators i.e. on commission. This will be part of staking 2.

[2018-09-25 11:52] #1278 closed

[2018-09-25 12:30] fedekunze commented on #1356
do you want to remove only commission or all of them ?

[2018-09-25 14:17] faboweb commented on #1356
All of them.

Federico Kunze <notifications@github.com> schrieb am Di., 25. Sep. 2018,
15:43:

[2018-09-25 15:56] faboweb commented on #1312
Maybe make it a config setting.

[2018-09-25 15:59] faboweb commented on #1329
If you insist you can reopen the ticket. We want to close it until a user complains.

[2018-09-25 15:59] #1329 closed

[2018-09-25 16:09] faboweb opened #1357 "Release"

[2018-09-25 16:57] NodeGuy opened #1358 "Reimplement PageValidator as a nested route."
Clicking on a validator hides the `My Stakes` and `Validators` tabs.  Keep the tabs visible (as in [the design](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5b8556a1cc45e20883c50006)) by making PageValidator a nested route.

[2018-09-25 16:58] NodeGuy commented on #1351
This may be an artifact of my conversation with @jbibla in which I convinced him to remove the tabs from `TmBalance`.  In order to be consistent with the design we should reimplement PageValidator as a nested route.  I created a new issue for it: https://github.com/cosmos/voyager/issues/1358

[2018-09-25 17:00] NodeGuy commented on #1354
It would still be helpful but is less important.  I'll close for now and we can re-open later if desired.

[2018-09-25 17:00] #1354 closed

[2018-09-25 17:07] NodeGuy commented on #1357
Blocked by https://github.com/cosmos/voyager/pull/1348.

[2018-09-26 01:52] NodeGuy opened #1359 "Create separate process to display/capture seed words."
The seed words are the highest-value asset in Voyager.  See the [threat model](https://docs.google.com/document/d/1WOzU-518hsnScDvgbH6h8y2mb09LrzexTvUn7wISDZE/edit#heading=h.bb3n3onqnrxt).

![voyager processes](https://user-images.githubusercontent.com/2148537/46052419-5f73e800-c10c-11e8-893f-d1c99d1b36a3.png)

Create a new temporary process separate from the Renderer for temporarily opening a win

[2018-09-26 01:53] NodeGuy commented on #386
Done: https://docs.google.com/document/d/1WOzU-518hsnScDvgbH6h8y2mb09LrzexTvUn7wISDZE/edit#

See also a new security issue generated as a result: https://github.com/cosmos/voyager/issues/1359

[2018-09-26 11:44] alexmironof opened #1361 "Add "Good first issue" label"
It would be nice to add this label to be able easily find a way to contribute for newcomers 👶

[2018-09-26 11:49] faboweb commented on #1361
Sure thing. We will add the label if we see such issues.

If you look for one:
https://github.com/cosmos/voyager/issues/1321

[2018-09-26 11:50] #1361 closed

[2018-09-26 11:55] alexmironof commented on #1361
@faboweb Thanks!

[2018-09-26 11:57] faboweb commented on #1291
Greg hosts a full node for us:
gaiad: http://fabo.interblock.io:26657 (and 26656)
LCD: http://fabo.interblock.io:1317

[2018-09-26 11:59] faboweb commented on #1344
I assume the title is wrong. The file is only imported in unit tests. Therefor it should not influence e2e tests.

[2018-09-26 15:19] faboweb opened #1363 "Reconnection test for delegates is bad"
Test test "should query for delegates on reconnection" in `delegates.spec.js` produces a snaphot that shows 0 calls to the endpoint where it should show more then one call.

[2018-09-26 15:56] faboweb opened #1364 "Duplicate keys on mystake page"
The keys need to be prefixed as a validator may be in both lists:

![image](https://user-images.githubusercontent.com/5869273/46092551-64d93d00-c1b5-11e8-8323-ea73b0505ba5.png)

[2018-09-26 15:57] faboweb opened #1365 "General Language Improvements"
The validators on the my stake page are not unstaked, they are currently unstaking.

![image](https://user-images.githubusercontent.com/5869273/46092551-64d93d00-c1b5-11e8-8323-ea73b0505ba5.png)

[2018-09-26 16:44] fedekunze opened #1366 "Show all decimals for amounts"
Description:

~Show only 2 decimals~ (JB EDIT - SHOW ALL DECIMALS)

<img width="905" alt="screen shot 2018-09-26 at 6 42 25 pm" src="https://user-images.githubusercontent.com/31522760/46095143-12e7e580-c1bc-11e8-9413-1826060a7f31.png">

[2018-09-26 16:56] #1319 closed

[2018-09-26 18:53] jbibla commented on #1269
yep. these concerns have been addressed.

[2018-09-26 18:53] #1269 closed

[2018-09-26 20:20] jbibla commented on #1312
what do you mean?

[2018-09-26 20:28] jbibla commented on #1291
`fabo.interblock` oh what a wonderful day! 🌞

[2018-09-26 20:29] jbibla commented on #1364
i don't think the validator should appear in both lists. i think we should filter out the unstaked validators from the top list.

[2018-09-26 20:31] jbibla commented on #1365
i think we're going with `unbonded` @fedekunze @rigelrozanski is that correct?

so maybe a good title would be `Currently Undbonding` - these should likely also show the dates 📅

[2018-09-26 20:34] jbibla commented on #1366
are we sure we're going with 2 decimals? regardless, it should always be consistent!

[2018-09-26 20:53] jbibla commented on #1344
yeahhhh - but errors are exactly what you need when tests are failing.

[2018-09-27 00:10] #1300 closed

[2018-09-27 06:30] faboweb commented on #1312
Make it configurable in the config.toml.

[2018-09-27 06:32] faboweb commented on #1344
I am open to alternative solutions.

[2018-09-27 06:36] faboweb commented on #1364
Why? I could have stake with a validator and am unstaking from him at the same time.

[2018-09-27 06:41] rigelrozanski commented on #1365
Validators tokens' can be `bonded`, `unbonding`, or `unbonded` - delegators tokens can be `delegated` or `undelegated` in ADDITION to being `bonded`, `unbonding`, or `unbonded`

[2018-09-27 11:52] fedekunze commented on #1356
Closed via #1327

[2018-09-27 11:52] #1356 closed

[2018-09-27 11:59] fedekunze commented on #1283
@jbibla here's my proposal:

Actions:

`staked`,`bonded` --> `delegated` or `redelegated` depending on the type
`staking` --> `delegation` or `redelegation` depending on the type

`delegate` --> `validator`

[2018-09-27 12:34] jbibla commented on #1312
isn't it already with `COSMOS_NODE`? i thought the point of this was to let users (not developers) pick a node...?

[2018-09-27 12:36] jbibla commented on #1344
that seems odd. do you have any examples?

[2018-09-27 12:38] jbibla commented on #1364
do you mean you may stake 500 atoms to validator x and then later unstake 250 from that same validator ... and therefore validator x would have to appear on both lists?

that makes sense - i hadn't considered that scenario.

this means we should really show _how many atoms_ the user has unbonded from validator x - and also the unbonding period.

just a thought... should we display the unbonding tx

[2018-09-27 12:39] jbibla commented on #1365
@rigelrozanski should we avoid calling this the `Staking` section or the `My Stake` tab?

[2018-09-27 12:42] jbibla commented on #1283
| verb  | (ad)verb | atom holders | validators & candidates |
| ------------- | ------------- |  ------------- | ------------- |
| delegation | unbonding  | delegator  | validators  |

[2018-09-27 15:48] rigelrozanski commented on #1365
IMO I would remove all reference to the word "stake" in the UI - I find it confusing - alternatively (IMO less desirable) we could remove absolutely all reference to the word `bond` and replace it with `stake` (aka we would now use `staked`, `unstaking`, or `unstaked`) - I don't we we should do the latter

[2018-09-27 16:02] rigelrozanski commented on #1283
CC @fedekunze @jbibla

ahahaahaha - THIS IS MESSY - Everyone should make sure they understand the following breakdown.
I'd suggest the UI adopt this language verbatim:

- Tokens (owned by either a validator or a deleator) can have one of the three states:
  - `bonded`, `unbonded`, or `unbonding`
- In _addition_ to this attribute, tokens which are owned by a delegator can also be
  - `delegated` or

[2018-09-27 16:04] rigelrozanski commented on #1365
side thought - I wonder if we should rename the staking module _bondage_ - it's kinda confusing because the module deals with both bonding and delegations - not sure... maybe this should still be the one use case for the word staking; _ the system of bonding and delegating_

[2018-09-27 17:22] fedekunze opened #1369 "Bonded validator error when bondedAtoms < 1"
Description:

I bonded to a validator which I have 0 < steak < 1 bonded due to slashes showing that `My Stake` is `NaN`:

[code]

<img width="929" alt="screen shot 2018-09-27 at 7 14 16 pm" src="https://user-images.githubusercontent.com/31522760/46163035-51e46c80-c28a-11e8-8ab0-5c4b73ac966d.png">

**Discussion**:

What should we do with the leftover bonded atoms ?

[2018-09-27 18:08] NodeGuy commented on #1344
This might be a better approach to handling the problem: https://vuejs.org/v2/api/#errorHandler

[2018-09-27 20:45] jbibla opened #1371 "PagePreferences test hangs when run in isolation"
if you try running this one test, the test will pass but will hang

[code]

likely an issue with `setMockedConnector()`

CC @NodeGuy

[2018-09-28 06:33] davidcwpark opened #1372 "Wallet stopped working."
UI Version: 0.X.X

Description:

Fri Sep 28 2018 15:24:20 GMT+0900 (KST) Running Cosmos-UI
main-process: initializing data directory (/Users/davidpark/.cosmos-voyager/gaia-8001)
main-process: spawning /private/var/folders/ld/4j9cfjbj73b_p4wb2544gyf80000gn/T/AppTranslocation/70FC29A8-423D-41CB-8B92-C334127B99C5/d/Cosmos Voyager.app/Contents/Resources/app/bin/gaiacli with args ""version""
main-proce

[2018-09-28 07:06] faboweb commented on #1369
On the validator page, I showed `< 0.01`. Would that be sufficient?

[2018-09-28 09:02] faboweb commented on #1312
This was an outcome of a discussion in the team meeting. We want to be able to define the set of trusted full nodes when shipping Voyager. A regular user will not use `COSMOS_NODE` as you pointed out. As we discussed that validators may ship a branded Voyager, validators may want to put in their preferred full node in the configuration easily.

[2018-09-28 09:03] faboweb commented on #1364
This sounds like a good idea. :)

[2018-09-28 09:04] faboweb commented on #1359
Sounds like a good idea. :)

[2018-09-28 09:08] faboweb commented on #1283
I vote for @fedekunze proposal.
Let's drop `bonding` and only use forms of `delegation`. I don't think the users need to be confused by 2 different verbs/attributes. I can't see a benefit for the user here. Can anyone point me to a benefit?

[2018-09-28 09:29] faboweb commented on #1344
As far as I remember that and issues where `commit`s and `dispatch`es to the store would have types that do not exist in the store. So "integration" errors.
Plus asynchronous errors not caught by our code.

Great idea, let's try this.

[2018-09-28 09:48] fedekunze commented on #1369
yeah but the thing is that you can't do anything with `< 0.01`, not even with < 1

[2018-09-28 10:13] faboweb commented on #1365
Let's not go there. This will be weird for developers. And we don't want to be seen as weird, we want to show trust in our code and in our platform.

[2018-09-28 10:18] faboweb commented on #1283
To clarify: I can have delegated tokens to a validator that are currently unbonded from that validator because this validator (candidate) is not in the list of validators right now because he hasn't accumulated enough delegated tokens?
When are tokens in this scenario `unbonding`? I thought this happens instant?

[2018-09-28 11:54] fedekunze commented on #1369
I remember that we discussed to not be able to redelegate if the bonded amount was < 1

[2018-09-28 12:01] faboweb commented on #1369
You can undelegate and redelegate < 1 token (because we are undelegating and redelegating shares not tokens) but you can't delegate < 1 token. This is how it is currently implemented in the SDK.
We could be hiding validators with < 1 token delegation and hide decimals completely. This would already implement future SDK changes.

[2018-09-28 13:09] jbibla opened #1373 "improve error handling in tests"
As far as I remember that and issues where `commit`s and `dispatch`es to the store would have types that do not exist in the store. So "integration" errors.
Plus asynchronous errors not caught by our code.

Great idea, let's try this.

_Originally posted by @faboweb in https://github.com/cosmos/voyager/issues/1344#issuecomment-425378688_

[2018-09-28 13:11] jbibla commented on #1283
yes. can we make it _less messy_?

[2018-09-28 13:30] faboweb commented on #1373
@jbibla can you please format the issue so it is readable.

[2018-09-28 16:05] fedekunze opened #1375 "TmLiTransaction components duplicated in TmUI"
Description:

`TmLiStakingTransaction.vue` and `TmLiTransaction.vue` are duplicated in TmUI and voyager.

Ref: https://github.com/cosmos/voyager/pull/1310#discussion_r220804300

Scope:

- [ ] Delete components on Voyager and import them from TmUI
- [ ] Update redelegation tx to show `denom` instead of shares
- [ ] Update redelegation tx to show the `amount` redelegated

[2018-09-28 16:13] fedekunze commented on #1369
ohh, I thought you were also talking about redelegation when you mentioned about not allowing users to put decimals on the `ModalStake` amount input.

We'll have to add a condition then on the submission button depending if it's delegation or redelegation to check those cases, change the input `step` and add some tests.

[2018-09-28 16:27] #1322 closed

[2018-09-28 16:42] faboweb commented on #1369
Maybe this is all to complicated. Let's discuss in the Tuesday meeting.

[2018-09-28 16:44] fedekunze commented on #1293
Closed by #1310

[2018-09-28 16:44] #1293 closed

[2018-09-28 16:45] faboweb commented on #1172
@jbibla do you have designs for this on your todo list?

[2018-09-28 16:54] faboweb opened #1376 "Workaround for locked keystore"
The keystore in gaia gets locked by the process while in use. On reconnection we stop the gaia process and restart a new process. In some cases, the keystore is not released yet when we start the new gaia process. In that case the process crashes with following message:
[code]

Let's create a simple workaround for handling this case.

Proposed workaround:
- detect `resource temporarily unavailable

[2018-09-28 16:55] fedekunze commented on #1295
Closed via #1319

[2018-09-28 16:55] #1295 closed

[2018-09-28 16:55] faboweb commented on #1372
Thank you for the bug report. We know of this issue and will create a workaround. See https://github.com/cosmos/voyager/issues/1376

[2018-09-28 16:55] #1372 closed

[2018-09-28 16:56] fedekunze commented on #1326
Closed via #1319

[2018-09-28 16:56] #1326 closed

[2018-09-28 17:00] rigelrozanski commented on #1283
I think the language I've laid out is pretty concise and clean. Just use that! (if you understand it of course) - I was referring how you guys have been talking about some of these terms before, sometimes ambiguously or incorrectly - I don't like the idea of breaking things down into "verb/adverbs"s etc. kind of arbitrary doesn't actually what it's a verb of. Any action should be in reference to t

[2018-09-28 17:02] jbibla opened #1377 "AppFooter is unused and can be deleted"

[2018-09-28 17:06] jbibla commented on #1283
very helpful. thank you @rigelrozanski.

- what do you call atom hodlers?
- what do you call the group that includes validators _and_ candidates?

[2018-09-28 17:07] fedekunze commented on #1283
We should add this to the SDK FAQ

[2018-09-28 17:15] rigelrozanski commented on #1283
@jbibla - good Qs

as in somebody who is not engage in any of the delegation/validation stuff at all? Not totally sure, probably just that `atom hodlers`/`non-delegators`/`non-bonders` or maybe `outsiders` or `weak souls` JKS

Candidates is an old concept which should generally not be used. There are only validators thus in your context the group which includes "validators and candidates" should j

[2018-09-28 18:21] jbibla opened #1378 "Steak is now called STAKE"
find and replace `steak` with `stake`

[2018-09-28 19:12] jbibla opened #1379 "console errors when running test"
`jest` or `yarn test` will result in console errors which the CI ignores, but my git client doesn't like.

[code]

[2018-09-28 19:40] NodeGuy commented on #1376
Wouldn't it be better to fix this in Gaia?

[2018-09-28 19:42] jbibla commented on #1283
i'm not convinced yet that it makes sense for us to keep staking, delegation, and bonding around. do we need all three categories and their variations?

[2018-09-28 20:18] jbibla opened #1380 "Refactor validator sorting"
The properties for the sorting of validators have 3 distinct locations in code (see below). It would be beneficial to refactor the properties (or whole list) into an own component. I.e. `ListValidators`.

<img width="544" alt="screen shot 2018-09-28 at 4 17 46 pm" src="https://user-images.githubusercontent.com/6021933/46231476-17d2a380-c33a-11e8-8c86-f84bbb7a5d91.png">

[2018-09-28 20:39] rigelrozanski commented on #1283
testnet token - arbitrary/don't matter
as for the module name and lcd paths - we could consider renaming it - (see thoughts here https://github.com/cosmos/voyager/issues/1365#issuecomment-425149579)

[2018-09-28 21:53] jbibla opened #1381 "rename and clean up staking vuex modules"
it's not immediately obvious what these different modules are for or how they relate. i would propose renaming them and ensuring that the separation is necessary. this refactor should also include removing the concept of `candidates` from the code.

[code]

[2018-09-28 22:16] jbibla opened #1382 "move tabs into balance header"
the way we have tabs implemented is as follows (after the refactor):
[code]

you'll notice that we're using a redirect to move users from `/staking` to `/staking/my-delegations` - i'd like to propose that we use the `<router-view>` element in the template and remove the need for a redirect as documented in the [vue-router documentation](https://router.vuejs.org/guide/essentials/nested-routes.html)

[2018-09-29 22:28] #1283 closed

[2018-09-29 22:33] fedekunze commented on #1198
blocked by #1375

[2018-09-30 16:16] jbibla commented on #1198
why is that blocked?

[2018-09-30 23:59] NodeGuy opened #1384 "Reconsider use of tape-promise for E2E tests."
[tape-promise currently doesn't have proper support for t.test()](https://github.com/jprichardson/tape-promise/issues/17#issuecomment-425276035)

We are using `t.test()` with it so we should fix tape-promise to support `t.test()` properly, stop using `t.test()`, or stop using tape-promise.

[2018-10-01 08:30] faboweb commented on #1376
There is already an open issue for that on the SDK: https://github.com/cosmos/cosmos-sdk/issues/1255
By reading the conversation there, I am not confident they will fix this soon.

[2018-10-01 08:35] faboweb commented on #1381
as far as I know:
delegates -> all validators, would rename to validators
delegation -> staking related information, would rename to staking
validators -> current validator set, could be merged with delegates

[2018-10-01 08:40] faboweb commented on #1382
👍

I would stick with a prefix. I think this helps to easily get that the component is a page. The extra letters do not hurt imo. I am also not 100% sure to drop the `Tab` prefix. Pages have headers, Tabs do not have headers as far as I know.

[2018-10-01 08:46] faboweb commented on #1198
I don't think the e2e tests are blocked on changing the location of the `TmLiTransaction` component

[2018-10-01 08:47] faboweb commented on #1384
👍
what would you propose? switching to jest to be uniform in the project?

[2018-10-01 15:27] jbibla opened #1386 "user onboarding improvements"
from hugh and jb #1117

- [x] says tokens, then atoms - inconsistent
- [x] only concerned with atoms, then when you login there are 3 tokens? - confusing
- [x] tutorial should have back button (JB)
- [x] tutorial progress indicators are not visible enough (JB)
- [x] update voting image

[2018-10-01 15:28] jbibla commented on #1117
closed in favour of #1269 and #1386

[2018-10-01 15:28] #1117 closed

[2018-10-01 15:30] jbibla commented on #1324
i'd like to propose that we change the title of this ticket to be "Improve disabled state for input fields" - but i agree - we should do this!

[2018-10-01 15:32] jbibla commented on #1358
relevant / maybe duplicated by #1382

[2018-10-01 15:34] jbibla commented on #1357
releases should never be blocked. we can still release all the improvements. when #1348 is unblocked, that can be another release.

[2018-10-01 15:35] jbibla commented on #1366
i think we need to make a final decision on how many decimals we will show or if we need a design / mechanism like we have for bech32 addresses.

then we should make sure this is consistent across the app.

[2018-10-01 16:30] jbibla commented on #1283
what do you mean @NodeGuy ?

[2018-10-01 16:32] NodeGuy commented on #1382
Do you mean you want `/staking` to represent the `My Delegations` tab and `staking/Validators` to represent the `Validators` tab?

[2018-10-01 16:34] NodeGuy commented on #1384
I vote for switching to Jest.

[2018-10-01 16:42] NodeGuy commented on #1357
Voyager was unable to connect to any seed nodes; I'd call that a release blocker.

It's fixed now.

[2018-10-01 16:44] NodeGuy commented on #1283
I'd like to know what language we should be using without having to a get a PhD.  😃

[2018-10-01 16:45] jbibla commented on #1172
very simple design: https://zpl.io/bo9WBnZ

[2018-10-01 17:07] jbibla commented on #1357
ok i misunderstood - i just read the title of the ticket (#1348)

[2018-10-01 17:07] jbibla commented on #1283
me too 😭

[2018-10-01 18:43] NodeGuy commented on #1204
We'll test this when we publish the next release.

[2018-10-01 18:47] NodeGuy opened #1387 "display the unbonding tx in the "Unstaked Validators" list instead of the validator Li"
Split from https://github.com/cosmos/voyager/issues/1364#issuecomment-425074861.

![46092551-64d93d00-c1b5-11e8-8323-ea73b0505ba5](https://user-images.githubusercontent.com/2148537/46308914-e56ab580-c588-11e8-9743-f00332f810f4.png)

[2018-10-01 18:50] NodeGuy commented on #1194
I'm changing this to `high priority` because our development velocity is gated by the slowness of the E2E tests.  Having good contract test coverage will allow us to gut the E2E tests and to increase our velocity.

[2018-10-01 18:54] NodeGuy commented on #1172
Why is this blocked?

[2018-10-01 18:55] NodeGuy commented on #1284
Can this be moved to `staking2`?

[2018-10-01 18:56] NodeGuy commented on #1346
What's blocking this?  Please include an explanation whenever you add the `blocked` label.

[2018-10-01 19:00] jbibla commented on #1172
was blocked by an absence of designs.

[2018-10-01 19:03] jbibla commented on #1284
though i want to say yes, for the sake of "progress", i really think this is less to do with staking and more to do with the whole voyager ux. the principles discussed in #1092 apply to all the features and will elevate the ux for all areas of the app.

so no. i don't think so. but we can make it high priority and remove the staking label 😄

[2018-10-01 19:05] NodeGuy commented on #1339
Should we use [WalletConnect](https://walletconnect.org/) for this?

I don't think the browser is secure enough to act as a key store.

[2018-10-01 19:08] NodeGuy commented on #1222
Is this a duplicate of #1036?

[2018-10-01 19:11] jbibla commented on #1222
i think so

[2018-10-01 19:19] jbibla opened #1388 "show network connectivity bar on session screens"
including this information (network, nodeIP, state of connection) will be valuable for users before they login. maybe even _more_ valuable - if you're "node conscious" and want to know which node you'll be trusting.

whether or not the session screens become routes or modals (#1313) the network connectivity component should be displayed when the session components are visible.

---

this leads me

[2018-10-01 20:57] #1375 closed

[2018-10-01 21:59] jbibla opened #1391 "remove TmPage"
`TmPage` is a small component that doesn't add a lot of value. we no longer have `h2` and `h3` on each `Page` - and I think our code will be simpler and cleaner if we just include the necessary components on each page.

[code]

[2018-10-01 23:11] jbibla opened #1392 "staking1 styles could use a bit of improvement"

[2018-10-02 10:34] faboweb commented on #1283
In the context of the UI we more or less can ignore the terminology of `bonded` tokens. A user only cares about if he has liquid tokens not `delegated` to a validator, tokens currently `delegated` to a validator and not usable tokens he started `undelegating` from a validator. `redelegating` happens instant and therefor is not a state just an action.
This is how I understand it.

[2018-10-02 11:05] faboweb commented on #1324
I think we may need to have different elements for showing data and for inputs (even if they are disabled). Users will never be able to change the data on there.

[2018-10-02 11:07] faboweb commented on #1366
Do you have a proposal for a design standard?

[2018-10-02 11:07] faboweb commented on #1376
Do you feel confident enough to fix this in the SDK?

[2018-10-02 11:09] faboweb opened #1395 "Switch e2e tests to Jest"
In e2e tests (test/e2e/**) we use Tape for handling our tests. To be uniform throughout the application we want to switch those tests to Jest.

[2018-10-02 11:09] faboweb commented on #1384
Closing in favor of https://github.com/cosmos/voyager/issues/1395

[2018-10-02 11:09] #1384 closed

[2018-10-02 11:14] faboweb commented on #1194
Would something like https://github.com/mkoryak/swagger-mock-server together with https://github.com/Trax-air/swagger-tester on the SDK side work for you? We already have the swagger definition as a contract format.

[2018-10-02 11:16] faboweb commented on #1346
We probably blocked this together in our team meeting last week. Feel free to add notes. ;) I assume this is blocked because we currently can't easily migrate to the latest develop of the SDK as we would loose compatibility with the testnet.
We may unblock this if we start using a staging branch.

[2018-10-02 11:19] faboweb commented on #1339
I'd be down for pioneering in WalletConnect.

[2018-10-02 11:29] faboweb commented on #1339
So I propose having Ledger support via https://github.com/ZondaX/ledger-cosmos-js in the browser and using walletconnect for storing keys on mobile. Still I think for onboarding users and for smaller interactions with the chain a js keystore might be useful.

[2018-10-02 11:32] fedekunze opened #1396 "ValidatorPage My Bonded Stake too large"
Description:

Change `My Bonded Stake` for `Bonded Stake`

<img width="1046" alt="screen shot 2018-10-02 at 1 27 53 pm" src="https://user-images.githubusercontent.com/31522760/46346169-71dbad80-c647-11e8-8fd8-4eae2fc089d1.png">

[2018-10-02 11:35] fedekunze opened #1397 "PageValidator Bonded stake ≠ than the one displayed in LiValidator"
Description:

The bonded tokens displayed are different

PageValidator:

<img width="1046" alt="screen shot 2018-10-02 at 1 27 53 pm" src="https://user-images.githubusercontent.com/31522760/46346265-c4b56500-c647-11e8-96fa-d7f52e76b820.png">

LiValidator:

<img width="1039" alt="screen shot 2018-10-02 at 1 34 32 pm" src="https://user-images.githubusercontent.com/31522760/46346329-f4646d00-c647-11e

[2018-10-02 11:38] faboweb commented on #1397
PageValidator still shows shares. I think this is fixed in my PR.

[2018-10-02 11:45] faboweb opened #1398 "Design Proposal overview"
Epic: https://github.com/cosmos/voyager/issues/1333

[2018-10-02 11:46] faboweb opened #1399 "Design Voting on proposals"
Epic #1335

[2018-10-02 11:47] faboweb opened #1400 "Design Proposal Creation"
Epic: #1334

[2018-10-02 12:08] fedekunze commented on #1397
@faboweb Saw that, added a comment on https://github.com/cosmos/voyager/pull/1367#pullrequestreview-160682044

[2018-10-02 12:31] jbibla commented on #1324
the reason i like inputs (disabled / readonly) is because it shows that the data is malleable.

but i am open to other suggestions. what would you guys like to see?

[2018-10-02 12:34] jbibla commented on #1366
i suppose we need to show the full length of the decimal. we will have to change the font size for everything after the decimal and or the whole number.

[2018-10-02 12:38] jbibla commented on #1339
i like how manager.balance.io handles this question. WalletConnect is more accessible - you don't have to buy a ledger.

<img width="1040" alt="screen shot 2018-10-02 at 8 36 58 am" src="https://user-images.githubusercontent.com/6021933/46348857-5c05c280-c61e-11e8-8fd1-766757794081.png">

[2018-10-02 14:34] faboweb commented on #1339
Let's copy them :)

[2018-10-02 14:34] faboweb commented on #1339
A mobile phone is not that secure as a Ledger though.

[2018-10-02 14:39] faboweb commented on #1324
What do you mean with malleable?

[2018-10-02 14:40] faboweb commented on #1366
I like the idea of showing decimals in small.

[2018-10-02 14:44] siman commented on #1340
Hi guys, I am developing TM ABCI dapp in Node.js and also need this js-amino. What is the status of this lib? Is it good/ready to use?

[2018-10-02 14:56] faboweb opened #1401 "Display proposals index"
Scope:
- [x] create proposal overview related getter functions in lcdClient
- [x] create a governance module
- [ ] display proposals
- [x] write tests for module
- [x] write tests for lcdClient

[2018-10-02 15:00] faboweb opened #1402 "Proposal creation"
Scope:
- [x] create proposal creation post function in lcdClient
- [x] create proposal creation actions in governance module
- [ ] attach proposal creation to view components
- [x] write tests for actions
- [x] write tests for lcdClient functions

[2018-10-02 15:45] fedekunze commented on #386
Marked as done

[2018-10-02 15:45] #386 closed

[2018-10-02 15:49] fedekunze commented on #1357
Let's create a list of the issues that are left for the release

[2018-10-02 15:54] NodeGuy commented on #1365
We agreed in the meeting to change the header to `Undelegating Validators` in `staking1`.

[2018-10-02 16:00] faboweb commented on #1366
Decision: We show all decimals but try to style it a little.

[2018-10-02 16:05] faboweb commented on #1340
Current state of amino.js https://github.com/irisnet/irisnet-crypto/blob/master/chains/iris/amino.js

[2018-10-02 18:12] rigelrozanski commented on #1365
@NodeGuy (CC @faboweb @jbibla )

That doesn't make any sense!!! - please refer to my original language discussions - https://github.com/cosmos/voyager/issues/1283#issuecomment-425148848

The validator object doesn't delegate whatsoever (however the operator of the validator _does_ have a self-delegation) - there are a number of different situations which will cause the validator's tokens to move f

[2018-10-02 19:31] NodeGuy commented on #1382
URLs can include uppercase letters and spaces: https://tools.ietf.org/html/rfc1738

I'd prefer not to have an extra layer of translation, e.g., using `My Delegations` as the URL for `My Delegations` is more clear to me than `my-delegations`.

[2018-10-02 19:39] ebuchman commented on #1283
what if the bonding language became more like "active/inactive/inactivating"? then it would be "active delegation" instead of "bonded delegation"

[2018-10-02 19:47] ebuchman commented on #1283
This makes sense - we should try to tailor the language more towards what the user actually has to think about / interact with rather than what might be going on deeper in the state machine

[2018-10-02 20:00] NodeGuy commented on #1376
That depends on whether I can reproduce the error.  I tried with this code but it doesn't fail:

[code]

[2018-10-02 20:28] NodeGuy commented on #1346
OK, blocked because we're waiting for the new SDK release to incorporate this feature.

[2018-10-02 20:51] rigelrozanski commented on #1283
Yeah I suspect there _IS_ some better language which can be used which is less cumbersome while still correct - just need to pin it down - on that note I take back that we _need_ to use `bonded validators` - there's likely correct alternatives, however `undelegated validator` is by definition incorrect and highly confusing for me.

We're setting up a phone discussion for I believe thursday to disc

[2018-10-02 20:55] NodeGuy commented on #1339
The number of Ledger owners is a tiny minority compared to cell phone owners.  We'd be designing for the 1% case instead of the 80% case.

There's an argument to be made that a key store made with open source software on a well-designed smart phone (such as iPhone & Android) is more secure than a Ledger.  The answer is not obvious.

This is problematic.  Every time a user reloads the site, they'll

[2018-10-02 20:59] NodeGuy commented on #1357
I don't think there are any.

[2018-10-02 21:00] NodeGuy commented on #1340
We don't have experience with it yet.

[2018-10-02 21:05] rigelrozanski commented on #1283
How about `locked/unlocked/unlocking`? I like this because it also describes a clear attribute about what you can do with those tokens. This is how it translates (you could also replace `lock` with `active` here)

"bonded validator" -> "locked validator"
"unbonded validator" -> "unlocked validator"
"unbonding validator" -> "unlocking validator"

 "tokens are in the bonded state and also delegated

[2018-10-03 17:03] faboweb commented on #1365
We want to avoid the use of the word `bonding` to not confuse users. Anyway `undelegating validator` is temporary and will be replaced by `undelgation transactions`.

[2018-10-03 17:05] faboweb commented on #1376
I would start with running two processes at the same time. A timeout of 1 sec might already be enough to avoid the db lock. Which on second thought might be a feasible solution until this is fixed in the SDK.

[2018-10-03 17:15] faboweb commented on #1339
nice argument!

wouldn't we control a chrome plugin? would unsafe code be able to attack our chrome plugin code?

[2018-10-03 20:21] NodeGuy commented on #1376
Two processes running at the same time will create a lock conflict, even without stopping and restarting one of them.

[2018-10-03 22:56] NodeGuy commented on #1358
Blocked by #1382 according to conversation with @jbibla.

[2018-10-03 23:10] NodeGuy commented on #1364
It's hard to recreate this bug now that undelegation is unavailable.  Blocked by #1294.

[2018-10-03 23:32] NodeGuy commented on #1212
Hmm, putting a non-semver version (`gaia-8001.1`) in package.json breaks Husky's pre-commit script.

[2018-10-04 04:39] jbibla commented on #1382
will rename this issue and use #1382 for addressing the tabs

[2018-10-04 04:50] jbibla commented on #1324
i think it's the wrong word... but the point is that the validator can change it / it's editable for certain people.

[2018-10-04 07:14] faboweb commented on #1376
That was the idea. What happens with a 50ms timeout?

[2018-10-04 07:27] faboweb commented on #1212
It says version is optional if you don't publish the package. Does something complain when we do not use semver?

[2018-10-04 07:31] faboweb commented on #1324
Not for any user of our product. But I understand the point. I retract my concerns.

[2018-10-04 08:14] #1382 closed

[2018-10-04 09:39] fedekunze commented on #1172
@jbibla should I proceed with the comments I added to the Params Tab ?

[2018-10-04 09:50] faboweb opened #1409 "Can’t increase amount to undelegate (add the number) when 0 < bond < 1 "
Follow up of https://github.com/cosmos/voyager/pull/1367#pullrequestreview-161516834

[2018-10-04 11:08] fedekunze opened #1410 "Undelegation tx still shows Claim button after click"
Description:

I completed my undelegation to claim back the tokens and the undelegation tx still shows the `Claim` button.

<img width="1071" alt="screen shot 2018-10-04 at 1 02 04 pm" src="https://user-images.githubusercontent.com/31522760/46470295-6c609d80-c7d6-11e8-88ea-56e64f0f3b49.png">

Full error:

[code]

[2018-10-04 13:56] jbibla opened #1411 "minor style updates"
and some other clean up items like

- use the correct font-family (sf pro text / sf pro display)
- address redundant headers
- notification background color

[2018-10-04 14:02] jbibla commented on #1358
upon further examination - i think this was implemented the best way possible already.

I thought that aiming to use child routes without a redirect would be the more correct approach - and it might be - but this is better for our use case with tabs where we need to pass in the path name as a prop.

[2018-10-04 14:02] #1358 closed

[2018-10-04 14:09] jbibla commented on #1339
seems like taking the same approach as balance.io makes sense. however, there is no metamask for cosmos yet (we can build it) or speak with them about including cosmos.

next would be wallet connect in my books - will serve more people and is a better ux than ledger.

after that we can use ledger.

i would also propose that we connect with @mappum to see if he has any shorter term plans to build a

[2018-10-04 14:12] jbibla commented on #1172
yes! they are all great points / suggestions.

[2018-10-04 15:55] jbibla opened #1412 "remove long timeouts from e2e test suites"
there are long timeouts for navigating to the preferences page in order to wait for the notify to disappear - instead, close the notify instantly and proceed more quickly.

[2018-10-04 16:53] fedekunze commented on #1173
I'm not fully understanding what are we suppose to implement here and what are the functionalities of this component. Does it just need a tooltip ?

[2018-10-04 16:59] fedekunze commented on #1325
I think this is being addressed on #1367 ? cc: @faboweb

[2018-10-04 17:06] faboweb commented on #1339
Great sumup @jbibla

[2018-10-04 19:11] NodeGuy commented on #1376
OK then I'm not understanding something.  What are we trying to achieve here?  Successfully stopping one process and starting a new one, right?  There's no way that running two processes simultaneously can succeed, because LevelDB is locking the database, so trying that doesn't prove anything.

The code I wrote above uses no delay between killing and restarting the process so I don't see how addin

[2018-10-04 19:12] NodeGuy commented on #1212
Running a script with npm fails.  I was unable even to commit the change because Husky failed to run the precommit script.

[2018-10-05 00:02] NodeGuy commented on #1212
How about we keep our current version scheme but also display the `default_network` value from `config.toml` in the About box and in the release binaries file names?

E.g.,

[code]

[2018-10-05 13:16] jbibla opened #1417 "add tm balance to tx history"
UI Version: 0.X.X

Description:

[2018-10-05 14:36] #1417 closed

[2018-10-05 14:50] faboweb commented on #1376
My mistake. I apologise.
So when there is no problem with stopping and starting, maybe we are actually launching two processes? Maybe we send a reconnect twice and the main process doesn't handle this well?

[2018-10-05 15:01] #1344 closed

[2018-10-05 15:01] faboweb commented on #1212
Sounds reasonable. Just brainstorming: Can we use funky semver by putting the network number in there? Like 0.8001.1. After 1.x we could change that again.

[2018-10-05 15:31] NodeGuy commented on #1376
Sure, maybe, but it's hard to know.  I say we close this issue until we see the problem again and then jump on it immediately to figure out what's happening.

[2018-10-05 15:35] NodeGuy commented on #1212
It would need to go in the major version to comply with SemVer (`8001.10.6`) because our testnets are not backwards compatible and we couldn't lower the version number to 1.x.x later because it's strictly increasing.

[2018-10-05 17:00] fedekunze opened #1419 "Amount label not displayed in Staking modals"
Description:

Probably because of the `denom` input field

[2018-10-05 21:05] #1294 closed

[2018-10-05 21:05] #1397 closed

[2018-10-05 21:05] #1325 closed

[2018-10-06 09:33] fedekunze opened #1421 "Include Feedback section on Preferences"
Description:

I'd be nice to have a feedback form accessible _within_ voyager to provide feedback about the app which sends the comments to our dev team. The current way to do it is to click on Help and then open an issue manually

[2018-10-06 09:58] fedekunze opened #1422 "Create categories pie chart for Txs page"
Despcription:

Here's a design I took from N26 (the picture is from their mobile app but we should try).

It'd be nice to have a pie chart to display the different amounts spend by each of the tx categories. Clicking on a category would show you the list of txs with that category in a certain period (eg 1 month).

Note: the å means atoms (I used it only for this example instead of typing the whole

[2018-10-06 11:31] ricburton opened #1423 "Onboarding niggles"
UI Version: 0.10.6

Amazing progress since I last checked in!

Some tiny onboarding niggles:

My original seed phrase didn’t work. Was there a breaking change there?
<img width="174" alt="screen shot 2018-10-06 at 12 28 29 pm" src="https://user-images.githubusercontent.com/438160/46570880-592f0880-c963-11e8-898c-46b9dc91f5db.png">

When bonding, the modal is off-center on my screen:

![screen shot

[2018-10-06 16:40] jbibla commented on #1423
thank you for the feedback @ricburton ! means a lot!

good question. we'll investigate. @faboweb @NodeGuy do you happen to know?

that's on purpose 🤣 a la Google Inbox. i guess we need to make it seem more like it's on purpose 😛

i absolutely agree. we are actively improving the transitions and the ux between hitting submit and confirming the transactions are going through. will be part of impleme

[2018-10-06 16:42] jbibla commented on #1421
would be cool if on form submission a bot created a github issue for us with the feedback. this is easy to do with zapier.

[2018-10-06 16:44] jbibla commented on #1422
great idea. maybe we need a `transaction history 2` label 😄

[2018-10-06 18:16] faboweb commented on #1376
The issue appears frequently and was even reported by a user (https://github.com/cosmos/voyager/issues/1372). Does that log help?

[2018-10-06 18:18] faboweb commented on #1212
It maybe doesn't comply with semver, but it also wouldn't crash any scripts I guess.

[2018-10-06 20:13] fedekunze commented on #1423
Thanks for the feedback @ricburton !

Yeah, I've run into this issue before and agree that should fix it. I'm curious though why does it take so long to show the notification... We'll look into it

[2018-10-06 22:28] fedekunze opened #1424 "WalletPage and Send redesign proposal"
Description:

The wallet page needs a little love to be at the same level as the new designs made by @jbibla. Here's an attached design of my improvement idea:

![wallet voyager page](https://user-images.githubusercontent.com/31522760/46576339-83b2ad00-c9c7-11e8-87ec-49753a0d5fc4.png)

Balances should display each coin balance and clicking on one of them should redirect to the transactions page wi

[2018-10-07 12:30] runlin512 opened #1425 "The gaiacli rest-server (LCD) experienced an error: panic: resource temporarily unavailable goroutine 1 [running]:"
UI Version: 0.X.X

Description:

The gaiacli rest-server (LCD) experienced an error: panic: resource temporarily unavailable goroutine 1 [running]:

[2018-10-07 14:05] faboweb commented on #1425
Dupe of #1376

[2018-10-07 14:05] #1425 closed

[2018-10-07 15:38] #1172 closed

[2018-10-08 09:09] faboweb opened #1427 "TypeError: Cannot read property 'words' of null"
https://sentry.io/tendermint/cosmos-voyager/issues/718401639/

[code]

[2018-10-08 09:09] faboweb opened #1428 "TypeError: _vm.updateDelegates is not a function"
https://sentry.io/tendermint/cosmos-voyager/issues/715998523/

[code]

[2018-10-08 14:14] faboweb opened #1430 "Design fused repository architecture"
We decided to fuse https://github.com/cosmos/explorer and https://github.com/tendermint/ui into this repository.
To do so, we need a proposal for a repository architecture/design before we start implementing this.

Scope:
- [ ] folder/project design
- [ ] decision on usage of additional tools for handling a mono repo

[2018-10-08 14:16] faboweb opened #1431 "Integrate explorer into this repository"
We decided to fuse https://github.com/cosmos/explorer and https://github.com/tendermint/ui into this repository.

Scope:
- [ ] implement decisions out of https://github.com/cosmos/voyager/issues/1430

[2018-10-08 14:16] faboweb opened #1432 "Integrate Tendermint UI library"
We decided to fuse https://github.com/tendermint/ui into this repository.

Scope:
- [ ] implement decisions out of #1430

[2018-10-08 14:19] faboweb commented on #1379
@jbibla any feedback?

[2018-10-08 14:20] faboweb commented on #1364
This is unblocked

[2018-10-08 14:21] faboweb commented on #1301
I would like to close this issue, as with the new design for unit tests, we don't need `vuex-setup.js` anymore.

[2018-10-08 14:22] faboweb commented on #1204
What was the outcome here?

[2018-10-08 14:26] faboweb opened #1433 "Migrate to latest SDK develop"
In order to start on governance we should migrate to the latest SDK code.

Concerns:
- [ ] we will probably not be able to connect to gaia-8001 after

[2018-10-08 14:28] faboweb commented on #1378
This is blocked until the staking denom of the network actually says `stake`.

[2018-10-08 14:29] faboweb commented on #1433
Maybe create a `hotfixes` branch for bugs on the old network.

[2018-10-08 15:01] NodeGuy commented on #1419
Is this not a bug?

[2018-10-08 15:11] NodeGuy commented on #1376
No, but after looking at it further I see we can protect [startLCD](https://github.com/cosmos/voyager/blob/649722825347ae8f76c40ffb8d22f092e20e265f/app/src/main/index.js#L258-L299) with a mutex.  Let's try that.

[2018-10-08 15:30] NodeGuy commented on #1427
It would be nice if we had source mapping so that the line numbers in the stack trace were meaningful.

[2018-10-08 16:35] NodeGuy commented on #1433
Hmm, I wonder if we can do better here.  Possibilities:

* monorepo with SDK & Voyager
* coordinated release cadence:
  1. SDK release (0 weeks)
  1. New testnet is launched from SDK release (2 weeks)
  1. Voyager publishes release that works with new testnet (4 weeks)
  1.  Repeat.

[2018-10-08 19:39] NodeGuy commented on #1369
What did we decide in the meeting?

[2018-10-08 19:44] NodeGuy commented on #1410
I'm confused.  Isn't the screenshot showing the error `Ending undelegation failed`, which means the undelegation didn't complete?

[2018-10-08 19:46] NodeGuy commented on #1409
I tried to replicate this by bonding 0.5 Steak but Voyager wouldn't let me (`Confirm Delegation` is disabled).  Is that expected behavior?

[2018-10-08 20:11] NodeGuy commented on #1401
Spec: https://github.com/cosmos/cosmos-sdk/blob/develop/docs/spec/governance/state.md#proposals

Endpoints: https://github.com/cosmos/cosmos-sdk/blob/develop/x/gov/client/rest/rest.go

[2018-10-08 21:04] faboweb commented on #1427
Good idea. Can you create an issue suggesting this?

[2018-10-08 21:31] fedekunze commented on #1410
It completed (hence the Ended Unbonding tx) but it’s still showing the claim button, which when you click it again throws the error

[2018-10-08 23:03] NodeGuy opened #1435 "measure attack surface of dependencies"
89% of our code is from modules:

[code]

Find a way to generate statistics about the modules so that we can measure a cost/benefit ratio for each one where the cost is the lines of code (or bytes) of code in the module (and all of its dependencies), and the benefit is a metric of how often it's used in Voyager.  This will enable us to identify and to prune modules providing the least benefit for

[2018-10-08 23:11] fedekunze opened #1436 "Add governance endpoints to lcdClient"
Description:

Add all governance endpoints needed for proposal creation, deposits and queries to lcdClient in order to start implementing the views.

[2018-10-08 23:14] fedekunze commented on #1432
I think we should add some folders to the `common` as well in order to categorize better the TmUI components. `common` is currently very packed with components

[2018-10-08 23:29] fedekunze commented on #1378
@faboweb I think @jbibla refers to the mocked LCD mostly, since we can get the testnet bonding denom from staking `params`. So technically it's not blocked

[2018-10-09 08:58] faboweb commented on #1378
If we change this, the staking denom we manually set will mostly say `stake` but in the wallet it will still show the actual denom `steak`.

[2018-10-09 09:07] faboweb commented on #1212
A decision was made to do it, there is no technical problem doing so as 0.x.y is compatible to a semver version schema. After 1.x we implement true semver. So let's do it.

[2018-10-09 09:10] faboweb commented on #1422
I don't want to create more noise, then we already have (about half a year of work at least). I would even propose to close this proposal and reopen it, when there we actually start thinking about a transaction revamp.

[2018-10-09 09:11] faboweb commented on #1423
Yes, we changed the seed phrase structure. I think it was 12 words and now it is 24 words.

[2018-10-09 10:07] faboweb opened #1437 "Refactor ShortAddress"
Currently the component handles other formats that are not bech32. I don't hink we need this and it also hides wrong addresses.
Additionally we want to rename ShortAddress to ShortBech32.

[2018-10-09 10:18] faboweb commented on #1369
We can't hide tokens for now. So we go with the `< 0.01` term. This may already be solved.

[2018-10-09 10:21] faboweb commented on #1409
Currently it is. Delegation transactions only allow for whole numbers to be delegated.

[2018-10-09 10:27] faboweb commented on #1401
The spec doesn't even contain staking yet. Still some miles to go.

Yes. This should work as there are tests for it here: https://github.com/cosmos/cosmos-sdk/blob/develop/cmd/gaia/cli_test/cli_test.go#L318

[2018-10-09 10:42] #1364 closed

[2018-10-09 11:45] jbibla commented on #1379
i don't think they are effecting my git client. but should these be resolved?

[2018-10-09 11:49] jbibla commented on #1433
perhaps we should try a feature branch for new SDK + governance. we can merge into develop and release when the testnet is up.

[2018-10-09 11:52] jbibla commented on #1435
woah

[2018-10-09 11:53] jbibla commented on #1432
good thinking @fedekunze - i would propose including a folder for `session` and for `modals`. are there others you can think of?

[2018-10-09 11:55] jbibla commented on #1378
when we release voyager for gaia-9000 - `steak` should no longer exist. in the mocked LCD and in the UI i suppose.

[2018-10-09 11:58] jbibla commented on #1212
i would propose we stick with semver for testnets and after mainnet launch. let's just change the title of the release for the testnet releases...

[code]

[2018-10-09 12:00] jbibla commented on #1437
thanks for making this ticket.

[2018-10-09 12:02] jbibla commented on #1409
what is the reason?

[2018-10-09 12:04] faboweb opened #1438 "Error: ENOENT: no such file or directory, open 'C:\Users\hideki\.cosmos-voyager\mock\genesis.json'"
https://sentry.io/tendermint/cosmos-voyager/issues/720197105/

[code]

[2018-10-09 12:04] faboweb opened #1439 "TypeError: Cannot read property 'address' of undefined"
https://sentry.io/tendermint/cosmos-voyager/issues/720197106/

[code]

[2018-10-09 12:05] faboweb opened #1440 "TypeError: Cannot read property 'destroy' of undefined"
https://sentry.io/tendermint/cosmos-voyager/issues/542519177/

[code]

[2018-10-09 12:12] jbibla opened #1441 "tx components should use short address component"
blocked by #1432

[2018-10-09 12:15] jbibla commented on #1437
curious, in the spirit of small focussed components - should verification / validation be a part of it at all?

[2018-10-09 14:02] jbibla opened #1442 "tx components should display all the decimals"
use `num.full()`

blocked by #1432

[2018-10-09 14:56] faboweb commented on #1435
#ui-development ;D

[2018-10-09 14:58] faboweb commented on #1212
👍 Bowing to the majority on this one then.

[2018-10-09 15:00] faboweb commented on #1437
if not, then we should expect bech32 and remove all exceeding code

[2018-10-09 15:40] #1301 closed

[2018-10-09 15:44] faboweb commented on #1421
Pulling in @nylira for some ideas you had.

[2018-10-09 16:16] NodeGuy commented on #1212
Don't bow yet!  I forgot that we don't need to comply with the normal SemVer rules before 1.0.0.  We agreed in the meeting to go with Fabo's proposal.

[2018-10-09 16:36] NodeGuy commented on #1435
#ui-development?

[2018-10-09 16:39] NodeGuy commented on #1437
Yes, you can never have too much of this (with rare exceptions).

[2018-10-09 18:16] jbibla commented on #1365
takeaways from the call with @faboweb and @rigelrozanski :

*General*
- [ ] not going to use Bonding, Bonded, Unbonding (the B words) to communicate token state. instead we will imply this with the action words - Delegation and associated terms

*TmBalance*
- [ ] change "Unbonded" to "Available"

*LiValidator and PageValidator*
- [ ] display three status' / states (Active, Jailed, Inactive)

*My D

[2018-10-09 18:42] jbibla commented on #1365
thank you for the time and ideas!

this is being tracked separately #1378.

[2018-10-09 18:47] #1371 closed

[2018-10-10 02:21] jbibla opened #1444 "running jest <FileName> doesn't update code cov when running yarn test:coverage"
this would be nice for my workflow 😄

running `yarn test:unit` updates the code cov at `http://127.0.0.1:8080` but `jest FileName` doesn't.

using the `refactor` label because its the closest thing to a `developer` label.

[2018-10-10 03:33] jbibla opened #1445 "PageStaking and TabValidators have a lot of duplicate code"
some examples:

[code]

[2018-10-10 03:51] jbibla opened #1446 "filters on my delegations tab do not work"
UI Version: 0.10.6

Description:

1. visit my delegation tab
2. click any of the filters from panel sort
3. see nothing happen

[2018-10-10 04:11] jbibla opened #1447 "remove titles from pages"
right now, some pages have titles. this is old code. please remove.

<img width="533" alt="screen shot 2018-10-10 at 12 10 38 am" src="https://user-images.githubusercontent.com/6021933/46712838-ff5b6680-cc20-11e8-8b23-41387038f115.png">

[2018-10-10 09:22] faboweb commented on #1444
`jest fileX` only updates the coverage for `fileX` and imports for that file. The website for the coverage is newly written every time. The problem: the navigation changes. You may nee to go back to http://127.0.0.1:8080 and navigate to your file from there. Can you try again?

[2018-10-10 09:30] faboweb opened #1448 "TypeError: Cannot read property 'find' of undefined"
https://sentry.io/tendermint/cosmos-voyager/issues/721488207/

[code]

[2018-10-10 10:03] #1366 closed

[2018-10-10 11:55] jbibla commented on #1359
to clarify:
- we are going to display a new window to the user that will _only_ contain their seed words. can this window contain a logo / image too?
- we will need to alter the design of the sign up session modal

questions:
- will the user / process be able to access the clipboard?
- will the user be able to access this window again? or is this a one time thing?
- we will need to alter the desig

[2018-10-10 12:16] #1173 closed

[2018-10-10 12:16] #1437 closed

[2018-10-10 12:20] faboweb commented on #1359
should be OK. in doubt we can inline the images as base64

yes

better not. this is just attack surface.

one time thing

I guess we will need to have the same process for seed recovery, yes.

[2018-10-10 12:45] faboweb commented on #1410
Scope:
- [ ] if clicking on the claim button, and the claim is successful, refreshing the UI should not show the claim button

[2018-10-10 12:46] faboweb commented on #1419
Scope:
- [ ] show the `Amount` label on top of the amount input

[2018-10-10 12:49] faboweb commented on #1409
apparently this is due to the fact, that there will be no `fractions of atoms`. we will only have `sub-atoms` (1:1000000000) and users will loose fractions of `sub-atoms` in certain scenarios. we then delegate `sub-atoms`.

[2018-10-10 12:51] jbibla commented on #1410
can we start moving towards _not_ having to press the refresh button?

[2018-10-10 12:52] faboweb commented on #1409
@fedekunze could you quickly help with clarify what the original issue was you filed?

[2018-10-10 12:59] faboweb opened #1449 "Bonded stake value is too long on LiValidator"
UI Version: 0.10.6

Description:

![image](https://user-images.githubusercontent.com/5869273/46737937-20619d00-cc9d-11e8-940f-09777f380a31.png)

[2018-10-10 13:16] faboweb commented on #1410
this means in development -> when Voyager is restarted

this should be mostly the case already. I would leave a refresh button in there anyway to give users a sense of security.

[2018-10-10 13:36] fedekunze commented on #1409
It’s more like because the input field only increases the step by 1 using the up button, if you have < 1 atom due to slashing you won’t be able to do anything, only typing the exact amount you want to undelegate.

The ideal situation is that the inputs field increases the step by 1 (step=1) until you reach floor(maximum) and then change the step to decimal in order to be able to unbond your ‘maxim

[2018-10-10 16:02] NodeGuy commented on #1365
Thank you, @jbibla.  Would you please put that somewhere that's easy to find, like a Google Doc?  I imagine we're going to need to reference it frequently in the future.

[2018-10-10 16:07] NodeGuy commented on #1435
Oh sure, now I understand what you mean.  Yes, I agree.

[2018-10-10 16:10] faboweb commented on #1365
Great idea

[2018-10-10 16:15] NodeGuy commented on #1449
What should happen instead here?

[2018-10-10 16:19] NodeGuy opened #1451 "Generate more meaningful stack traces with source mapping"
We concatenate our source code with Webpack, making line numbers in stack traces less meaningful, e.g.,

[code]

Use source mapping so that we can see the line numbers in the original source code.

[2018-10-10 16:20] NodeGuy commented on #1427
Done: https://github.com/cosmos/voyager/issues/1451

[2018-10-10 16:27] faboweb commented on #1449
Either shorten the value, increase the size of the field or come up with a different design where tokens have a lote more space. Do you have any idea?

[2018-10-10 17:29] rigelrozanski commented on #1365
May I suggest a docs section in the voyager repo to house the most updated language decisions/discussions?

[2018-10-10 17:39] fedekunze commented on #1449
lol I raised this issue on the PR review

[2018-10-10 18:14] jbibla commented on #1410
nooooooooo~~! we should remove them and have proper loading images on every screen and in every component.

![giphy](https://user-images.githubusercontent.com/6021933/46756990-d37ac800-cc96-11e8-9657-28bb8b2b2432.gif)

[2018-10-10 18:20] jbibla commented on #1449
aw 😭 sorry guys.

[2018-10-10 19:16] jbibla opened #1454 "Staking wording updates"
*General*
- [x] not going to use Bonding, Bonded, Unbonding (the B words) to communicate token state. instead we will imply this with the action words - Delegation and associated terms

*TmBalance*
- [x] change "Unbonded" to "Available"

*LiValidator and PageValidator*
- [x] display three status' / states (Active, Jailed, Inactive)

*My Delegations Tab*
- [x] “Bonded Steak” filter is technically i

[2018-10-11 07:55] wannabit-mina opened #1457 "Voyager ran into an error"
UI Version: 0.10.7

Description:
I got this error after "yarn start".

"Voyager ran into an error
spawn /home/minachoi/voyager/builds/gaia/linux_amd64/gaiacli ENOENT"

I am on a Ubuntu 18.04.1 LTS..

Thu Oct 11 2018 16:02:08 GMT+0900 (KST) Running Cosmos-UI
main-process: initializing data directory (/home/minachoi/.cosmos-voyager-dev/gaia-8001)
main-process: spawning /home/minachoi/voyager/builds/

[2018-10-11 08:29] faboweb commented on #1410
yes, plus a refresh option. which product do you know, that doesn't have a refresh option? I assume users would feel unsecure if the values they are seeing are the latest.

[2018-10-11 08:46] faboweb commented on #1457
There is no version `0.2.28`. Which version or commit are you on?
This error looks like yo didn't build gaia. Did you run `yarn build:gaia` prior to starting?

[2018-10-11 08:46] #1212 closed

[2018-10-11 09:07] wannabit-mina commented on #1457
Sorry. I meant version 0.10.7
I already ran "yarn build:gaia" and "yarn build:testnets"

[2018-10-11 09:18] faboweb commented on #1457
did `yarn build:gaia` produce any error? does the file `/home/minachoi/voyager/builds/gaia/linux_amd64/gaiacli` exist?

[2018-10-11 09:20] wannabit-mina commented on #1457
yes.

exist

[2018-10-11 09:35] wannabit-mina commented on #1457
first, I tried on windows but it didn't work properly: yarn build:gaia, yarn build:testnets

I checked voyager code ran properly on Mac.

I installed ubuntu on virtual box.
but I failed to run 'yarn start'

[2018-10-11 09:50] faboweb commented on #1457
Thank you for your feedback. I will investigate this further. Is running the development environment on Mac enough for you for now?

[2018-10-11 10:12] faboweb commented on #1457
Replicated the error. 👍

[2018-10-11 10:19] faboweb commented on #1457
Can you try the branch `fabo/1457-fix-gaia-not-found` ?

[2018-10-11 18:21] NodeGuy commented on #1449
In this case I think it's appropriate to round the amount.

[2018-10-11 18:36] NodeGuy opened #1460 "release-candidate tag isn't being deleted during publish"
It's a temporary tag and should be deleted during the automatic release process but isn't for some reason.

[2018-10-11 18:48] faboweb commented on #1410
What? Can you please go to inbox or Facebook and do a pull down to refresh?

David Braun <notifications@github.com> schrieb am Do., 11. Okt. 2018, 20:24:

[2018-10-11 18:49] NodeGuy commented on #1194
* [Swagger UI](https://cosmos-staging.interblock.io/rpc/)
* [Swagger.yaml](https://raw.githubusercontent.com/cosmos/cosmos-sdk/7c9048b591de2aba9bf4c04aa1517f5c81d1a692/client/lcd/swagger-ui/swagger.yaml)

[2018-10-11 19:05] faboweb commented on #1410
Well, in the apps.. My bad. But in the browser as you say, we have the
ability to refresh.

Fabian Weber <frznhope@gmail.com> schrieb am Do., 11. Okt. 2018 um
20:48 Uhr:

[2018-10-11 20:36] jbibla commented on #1449
i've been thinking lately that we should round to 4 decimal places everywhere but show full decimals in all form fields for making accurate transactions.

[2018-10-11 20:46] jbibla commented on #1410
ok you are kind of right. sometimes, you can "refresh" but this is more and more like requesting more data, not data that you should have been pushed already.

[2018-10-11 21:26] jim380 opened #1461 "ERROR: Data was created with an incompatible app version data=0.10.2 app=0.8001.1"
**UI Version:** 0.8001.1

**Description:** error upon launching: ```Data was created with an incompatible app version data=0.10.2 app=0.8001.1```
![photo_2018-10-11_14-21-56](https://user-images.githubusercontent.com/31609693/46834883-7f88e580-cd61-11e8-94d4-9ffd2a670f56.jpg)

**Log:**
[main.log](https://github.com/cosmos/voyager/files/2470783/main.log)

[2018-10-12 01:15] wannabit-mina commented on #1457
I tried the fixed version.
now it finds Gaia but I have another error, same as #1461

in my case, the error is `Data was created with an incompatible app version data=0.10.7 app=0.8001.1`

[2018-10-12 09:21] faboweb commented on #1461
Thanks for filing this issue.
To solve this problem quickly change the content of `~/.cosmos-voyager[-dev]/gaia-8001/app_version` to `0.8001.1`.

[2018-10-12 10:09] faboweb commented on #1339
How about we create a QR-Code for a transaction containing the transaction and the endpoint where to send the signed transaction to? A companion app just adds the signature and posts it to the endpoint. Question: How to trigger an update of the UI? Or is this even necessary?

[2018-10-12 11:52] faboweb commented on #1457
See #1461, sorry for the inconveniences

[2018-10-12 16:11] NodeGuy commented on #1410
Having to request more data in those situations is still a design wart.

[2018-10-12 16:14] NodeGuy commented on #1339
WebSocket and yes, I think it's necessary.

[2018-10-12 19:19] jbibla commented on #1399
please review: https://zpl.io/bA4jkon

[2018-10-12 19:19] jbibla commented on #1398
please review: https://zpl.io/blPdgg1

[2018-10-12 19:19] jbibla commented on #1400
please review: https://zpl.io/blZ8Jqz

[2018-10-12 21:12] jbibla commented on #1266
i think as a general rule, we shouldn't be using notifications to display errors.

errors related to forms should appear as part of the form and or in the tx history.

"blocking errors" related to the broader app area already displayed as full screen modals.

i don't think there is a good use case for displaying the red notification we currently have.

[2018-10-15 13:41] faboweb commented on #1428
handled in #1450

[2018-10-15 15:02] fedekunze opened #1464 "Create LiTransaction for governance"
Description:

Required to display governance txs on the Transaction Page

- [x] TmUI Components
- [ ] Integrate to voyager wallet

[2018-10-15 15:03] fedekunze commented on #1464
@jbibla any idea of the colors we should use for each of the gov txs ?

[2018-10-15 16:18] faboweb commented on #1464
Do we 100% need this prelaunch?

[2018-10-15 20:05] NodeGuy commented on #1359
Let's spike this first.

[2018-10-16 08:05] faboweb opened #1465 "Improve naming of tests"
All unit tests should be wrapped in a `describe` stating the file the test is handling.

Example: `onDelegation › submitDelegation › redelegation › unit › error`  is missing `PageValidator`. I would have assumed this handles the module `delegation`.

[2018-10-16 12:41] #1427 closed

[2018-10-16 12:43] fedekunze opened #1467 "Use swagger file from SDK for contract tests"
_Originally posted by @fedekunze in https://github.com/cosmos/voyager/pull/1462_

[2018-10-16 12:46] fedekunze commented on #1464
imo it's required. It shouldn't take too much time

[2018-10-16 14:55] fedekunze opened #1468 "Add badge with counter when displayed notification is repeated"
Description:

This is to avoid repeating notifications. Whenever a new notification is about to be displayed, check if it already exists and show [badge](https://getbootstrap.com/docs/4.1/components/badge/) with increased counter

[2018-10-16 15:37] #1461 closed

[2018-10-16 15:47] faboweb commented on #1346
Timeboxed 2 days

[2018-10-16 15:52] fedekunze commented on #1369
Fixed on develop

[2018-10-16 15:52] #1369 closed

[2018-10-16 15:54] fedekunze commented on #1400
Considered this done

[2018-10-16 15:54] #1400 closed

[2018-10-16 15:54] fedekunze commented on #1398
Considered this done

[2018-10-16 15:54] #1398 closed

[2018-10-16 15:54] fedekunze commented on #1399
Considered this done

[2018-10-16 15:54] #1399 closed

[2018-10-16 16:17] NodeGuy opened #1469 "Use SDK's copy of the Swagger file for contract tests."
Contract tests in lcdClient.spec.js currently use our own copy of the Swagger specification because the version of the SDK we're using doesn't have it yet.  When we upgrade to use the latest version of the SDK we should modify the Gaia build task to copy over the Swagger file and use it instead in our contract tests.

[2018-10-16 16:39] NodeGuy commented on #1465
Huh, so Jest doesn't report the name of the file automatically?  That's disappointing.

[2018-10-16 16:41] NodeGuy commented on #1467
Duplicate of https://github.com/cosmos/voyager/issues/1469.

[2018-10-16 16:41] #1467 closed

[2018-10-16 21:30] #1376 closed

[2018-10-17 08:27] faboweb commented on #1346
Scope:
- [ ] get https certificate data from console output when starting the lcd
- [ ] pass https certificate data to view process
- [ ] enable secure connection between view process and lcd (in lcdClient)

[2018-10-17 09:14] faboweb opened #1472 "Add redelegation to lcd client mock"
The current `lcdClientMock` doesn't handle redelegations.

Scope:
- [ ] add redelegation handling to `lcdClientMock.js > updateDelegations`

[2018-10-17 09:26] faboweb opened #1473 "Voting power not available on "My Validators" page."
Voting power always shows `n/a` on the `My Validators` page.

![image](https://user-images.githubusercontent.com/5869273/47076606-68357680-d1ff-11e8-8e6a-97521a301921.png)

[2018-10-17 09:29] faboweb opened #1474 "Add local testnet script for new single node flow"
Currently a dev needs to overwrite the node urls by starting Voyager with `LCD_URL=http://localhost:9070 RPC_URL=http://localhost:26657 yarn start local-testnet`. I think we could add this as a script `yarn start:local` to make it more convenient.

[2018-10-17 09:33] faboweb commented on #1465
Well it does:

![image](https://user-images.githubusercontent.com/5869273/47077047-615b3380-d200-11e8-8f31-8a91f3c180c6.png)

But I think it is more readable if the tests itself already tell you what you are seeing. This is especially usefully if a lot of tests fail.

[2018-10-17 09:36] faboweb commented on #1468
I like the idea. @jbibla had some ideas about not showing notifications at all, as far as I remember.

[2018-10-17 13:46] fedekunze opened #1476 "Demo's default password is different from displayed message"
Description:

default password is not 1234567890 as shown on the message on the demo

<img width="941" alt="screen shot 2018-10-17 at 3 43 31 pm" src="https://user-images.githubusercontent.com/31522760/47090638-9a58cf80-d223-11e8-9426-13c8a3064b5d.png">

[2018-10-17 17:17] #1447 closed

[2018-10-17 17:43] NodeGuy commented on #1476
Hmm, it works for me on the latest `develop`.

[2018-10-17 18:39] fedekunze commented on #1473
yeah I added `n/a` when the validator is not on the active validator set I think

[2018-10-17 19:02] faboweb commented on #1473
My one validator should be in the set. ;)

[2018-10-17 21:30] NodeGuy commented on #1446
The filters on TabValidators are already working for me.

[2018-10-18 17:07] #1433 closed

[2018-10-18 17:29] fedekunze opened #1479 "Upgrade governance1 components"
Description:

Split from the gov endpoints PR. Some work was done in on the following commit: https://github.com/cosmos/voyager/pull/1463/commits/516ab541204b5a584f4735718ce9be0a36516faa

Note: The changes are the deletions on that commit

[2018-10-19 12:53] fedekunze opened #1480 "unexpected E2E test failure"
[code]

[2018-10-19 13:41] #1419 closed

[2018-10-19 16:24] NodeGuy opened #1482 "Add ESLint rule to prohibit var"
`var` has been superseded by `const` and `let` and there's no longer any reason to use it.  Prohibiting its use is a precursor step before adding a rule about `let` that we discussed in our `const` conversations.

[2018-10-19 17:40] #1436 closed

[2018-10-19 21:37] fedekunze commented on #1131
closed by cosmos/cosmos-sdk#2444

[2018-10-19 21:43] fedekunze commented on #1479
Closing in favor of #1401

[2018-10-19 21:43] #1479 closed

[2018-10-19 21:43] fedekunze commented on #1401
Some work was done in on the following commit: https://github.com/cosmos/voyager/pull/1463/commits/516ab541204b5a584f4735718ce9be0a36516faa

Note: The changes are the deletions on that commit

[2018-10-20 11:02] #1194 closed

[2018-10-22 12:46] fedekunze opened #1485 "Replace page Send to modal for StdTx"
Description:

Replace the current `PageSend.vue` for a modal that matches the delegation and unbonding modals' design

Ref: #1424

[2018-10-22 13:14] fedekunze opened #1486 "Error on starting local testnet"
Description:

[code]

[2018-10-22 13:39] jbibla commented on #1464
re: colors - as long as they are the same for all governance txs we'll be fine!

[2018-10-22 13:48] jbibla commented on #1468
it's true! we are abusing the notifications.

https://github.com/cosmos/voyager/issues/1266#issuecomment-429463764

@fedekunze please provide an example of a notification that _should_ appear as they do now, and the situation where more than one should be displayed at a time.

😄

[2018-10-22 13:50] fedekunze opened #1487 "Error running local testnet"
`yarn start local-testnet`:

[code]

[2018-10-22 13:50] jbibla commented on #1473
why `staking2`? this should work now!

[2018-10-22 13:51] jbibla commented on #1473
sounds like a `staking1` bug, not `staking2`

[2018-10-22 20:36] NodeGuy commented on #1473
Agreed.

[2018-10-22 20:38] #1482 closed

[2018-10-22 22:19] NodeGuy commented on #1476
@jbibla Can you reproduce this?

[2018-10-22 22:20] NodeGuy commented on #1486
Duplicate of #1487.

[2018-10-22 22:20] #1486 closed

[2018-10-22 22:28] NodeGuy commented on #1152
We've moving to a monorepo.

[2018-10-22 22:28] #1152 closed

[2018-10-23 14:37] NodeGuy commented on #1424
It looks beautiful but we have no time for it until we're feature complete.  I'm labelling this `wallet2`.

[2018-10-23 15:50] jbibla commented on #1474
sounds reasonable. no discussion required.

[2018-10-23 16:19] NodeGuy commented on #1410
Blocked because @faboweb needs to publish the new version of tendermint/ui.

[2018-10-23 16:20] NodeGuy commented on #1464
Blocked because waiting for new release of tendermint/ui to be published.

[2018-10-23 16:45] fedekunze opened #1489 "Split delegator endpoint on lcdClient and lcdClientMock"
Description:

https://github.com/cosmos/cosmos-sdk/issues/2258 was merged so we will need to update these files and logic

[2018-10-23 16:59] cwgoes commented on #1410
@NodeGuy Did you want anything from me here or was that an accidental assignment?

[2018-10-23 18:58] NodeGuy commented on #1489
Please copy and paste the relevant information into this issue so that (ideally) the assigned developer won't have to reference the other one.

[2018-10-23 18:59] NodeGuy commented on #1410
@cwgoes It was an accident, sorry.

[2018-10-23 19:02] #1428 closed

[2018-10-23 22:17] NodeGuy commented on #1185
See #1051.

[2018-10-23 22:17] #1185 closed

[2018-10-23 22:17] NodeGuy commented on #1184
See #1051.

[2018-10-23 22:17] #1184 closed

[2018-10-23 22:18] NodeGuy commented on #1051
Closing because Babel is already enabling strict mode for us with the `es2015` preset.  We should open this again in the future if we stop using Babel (or that preset).

[2018-10-23 22:18] #1051 closed

[2018-10-24 10:03] fedekunze commented on #1489
Blocked until we update sdk version

[2018-10-24 12:51] jbibla commented on #1489
@fedekunze please specify which version

[2018-10-24 18:28] #1449 closed

[2018-10-24 18:30] NodeGuy commented on #1445
Blocked by https://github.com/cosmos/voyager/issues/1480.

[2018-10-25 13:33] #1487 closed

[2018-10-25 20:18] NodeGuy commented on #1480
Reproduced here: https://circleci.com/gh/cosmos/voyager/9475?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-10-25 20:39] NodeGuy commented on #1480
This looks like a Tendermint bug:

[code]

https://9475-99653950-gh.circle-artifacts.com/0/home/circleci/project/testArtifacts/node_home_2/process.log

[2018-10-25 21:18] jbibla commented on #1480
I reproduced this as well but rerunning the tests resulted in a pass.

[2018-10-25 21:43] jbibla commented on #1454
not sure what the purpose of moving this issue into an md file would be.

[2018-10-26 13:39] #1473 closed

[2018-10-26 13:53] ebuchman commented on #1480
`allow_duplicate_ip = true` under `[p2p]` in the config

[2018-10-26 18:43] NodeGuy commented on #1454
Remembering that this is open source and a basis for future projects, it would be helpful and easy-to-find guidance for consistent terminology.

[2018-10-26 19:10] #1445 closed

[2018-10-26 19:10] #1446 closed

[2018-10-29 13:42] jbibla commented on #1411
these issues have been addressed or will be addressed in other tickets.

[2018-10-29 13:42] #1411 closed

[2018-10-29 13:50] jbibla opened #1496 "misc. staking fixes and imrprovements"
address used to live at `operator_address` ... now it's at `owner`

[2018-10-29 14:30] jbibla opened #1497 "sort by on validator table doesn't align with table columns"
<img width="930" alt="screen shot 2018-10-29 at 10 30 58 am" src="https://user-images.githubusercontent.com/6021933/47656590-c0f10180-db65-11e8-97fa-379fca030c54.png">

[2018-10-29 15:13] NodeGuy commented on #1497
How about we use a `TABLE` element?

[2018-10-29 17:04] jbibla commented on #1497
i would love to use a table element.

[2018-10-29 18:10] fedekunze commented on #1409
@faboweb @NodeGuy Do we want to be able to delegate, redelegate and unbond `subatoms` ?

[2018-10-29 18:47] fedekunze commented on #1496
actually it's the other way. Now it's `operator_address `

[2018-10-29 19:32] jbibla commented on #1496
ah yes. of course! thank you!

[2018-10-29 19:36] jbibla commented on #1496
i'm going to use this ticket for miscellaneous fixes / improvements 😄

[2018-10-30 09:09] faboweb commented on #1464
published 0.3.1

[2018-10-30 09:12] faboweb commented on #1410
published 0.3.1

[2018-10-30 09:17] faboweb commented on #1480
thank you @ebuchman for fixing this

[2018-10-30 09:18] faboweb commented on #1411
we don't use sf pro anymore I thought @nylira

[2018-10-30 09:20] faboweb commented on #1409
yes the user should be able to delegate, redelegate and unbond subatoms. the concern before was that delegating fractional atoms (or subatoms) is not possible.

[2018-10-30 09:29] #1454 closed

[2018-10-30 12:33] faboweb commented on #1444
ping @jbibla

[2018-10-30 12:38] faboweb commented on #1131
When I try to undelegate with an existing undelegation, I still get a strange error:

[code]

[2018-10-30 12:41] faboweb opened #1500 "Wrong balance after delegation"
Description:

After a successful delegation, the shown `Total Steak` and `Available Steak` show wrong values:

![image](https://user-images.githubusercontent.com/5869273/47718743-6f21a780-dc49-11e8-956f-45334e969cfc.png)

This happend after
- undelegating 1 atom
- delegating 10 atoms

[2018-10-30 12:49] faboweb opened #1501 "Voting"
Allow users to vote on proposals.

[2018-10-30 13:00] #1365 closed

[2018-10-30 13:22] faboweb opened #1502 "Show Proposal"
We need to show the details of a proposal.

[2018-10-30 13:53] jbibla commented on #1480
this is still an issue 😭

[2018-10-30 13:54] jbibla commented on #1411
this is true. i haven't started using ubuntu in voyager yet.

[2018-10-30 13:57] jbibla commented on #1444
we can close for now.

[2018-10-30 13:57] #1444 closed

[2018-10-30 14:05] ebuchman commented on #1480
So there's a known bug in Tendermint that's causing us to dial peers we're already connected to and fail to connect to them (https://github.com/tendermint/tendermint/issues/2716), but that shouldn't be causing issues with the chain halting.

I'm not sure how to understand the output we're seeing in CI, eg. from the link David posted with the failure:

[code]

Failing to dial the peer wouldn't cras

[2018-10-30 14:51] faboweb commented on #1411
ok my bad

[2018-10-30 14:53] faboweb commented on #1480
Here you go: https://9475-99653950-gh.circle-artifacts.com/0/home/circleci/project/testArtifacts/node_home_2/process.log

[2018-10-30 15:26] ebuchman commented on #1480
So I'm not seeing any issues in that log.

It committed 240 blocks over the 2-minutes in that log, so I'm not sure how to understand what the test is saying actually went wrong?

[2018-10-30 15:39] NodeGuy commented on #1311
Do I remember correctly that "claim tokens from unbonding" is now automatic?

[2018-10-30 15:43] NodeGuy commented on #1402
Does "attach proposal creation to view components" mean to implement [this design](https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5bc0ecbc29495f5fbbea38ba)?

[2018-10-30 15:44] NodeGuy commented on #1501
Design: https://app.zeplin.io/project/59e66beff6721ea8bf562e5b/screen/5bc0f387a55ed15fd3fda054

[2018-10-30 15:55] faboweb commented on #1311
Good catch. I delete the point.

[2018-10-30 16:00] faboweb commented on #1480
I see the error. We fail the script if the outputs see an error. There are errors, but those are not breaking the node. My apologies. I will change this today.

[2018-10-30 16:38] faboweb opened #1503 "add e2e test for updating balances on delegation"
Scope:
- [ ] test that on undelegation, the amount of total atoms doesn't change
- [ ] test that on undelegation, the amount of available atoms doesn't change

[2018-10-30 16:49] faboweb opened #1504 "update tendermint/ui"

[2018-10-30 18:56] #1480 closed

[2018-10-30 19:57] NodeGuy commented on #1131
Should that be a new issue?

[2018-10-31 10:19] faboweb commented on #1131
One item of the scope is not meet:

[2018-10-31 11:31] faboweb commented on #1451
Scope:
- [ ] enable sourcemaps in webpack
- [ ] check that errors in chrome use sourcemaps
- [ ] bonus: check that errors in sentry use sourcemaps

[2018-10-31 14:28] NodeGuy commented on #1451
Another possibility to explore is whether we can get Webpack to stop concatenating the files.

[2018-10-31 19:46] #1496 closed

[2018-10-31 23:26] NodeGuy opened #1507 "Can't run local testnet: decoding bech32 failed: invalid index of 1"
UI Version: 0.8001.1

Description:

[code]

The console shows:

<img width="804" alt="screen shot 2018-10-31 at 7 25 04 pm" src="https://user-images.githubusercontent.com/2148537/47824334-ba6bb100-dd42-11e8-9a0f-01567ce8c415.png">

Failed network responses:

`decoding bech32 failed: invalid index of 1`
`invalid bech32 prefix. Expected cosmosaccaddr, Got cosmos`

[2018-11-01 08:30] faboweb commented on #1507
As you can see in the error log, Voyager is connecting to the remove full node. To connect to your local node you have to specify the endpoints:
`LCD_URL=http://localhost:9070 RPC_URL=http://localhost:26657 yarn start local-testnet`

[2018-11-01 10:53] faboweb opened #1509 "Unit tests produce errors and warnings but do not fail"
Warnings and errors should produce an exit code 1 to show the tests have failed.

[2018-11-01 14:28] NodeGuy commented on #1509
Can you provide any examples?

[2018-11-01 14:29] #1504 closed

[2018-11-01 14:52] faboweb commented on #1507
Fixed in https://github.com/cosmos/voyager/pull/1508

[2018-11-01 14:57] faboweb commented on #1509
i.e.
[code]

[code]

[2018-11-01 16:24] #1451 closed, assigned to faboweb

[2018-11-01 16:24] jbibla opened #1511 "more graceful failures"
this may be covered by some other tickets and should be addressed in the sprint after gov1 ... but i wanted to log it as an example of an opportunity for improvement.

if you refresh voyager but voyager cannot find a good node to connect to this is what the user sees:

<img width="1192" alt="screen shot 2018-11-01 at 12 19 46 pm" src="https://user-images.githubusercontent.com/6021933/47864635-7e7f